.box {
  background-color: #F5F6F7;
  border-radius: 3px;
  padding: 16px 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  
  .author {
    display: flex;
    margin-bottom: 17px;
    
    &:hover {
      .data {
        .title {
          color: #22C4E0;
        }
      }
    }
  }
  
  .photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    background-color: #AEB6C9;
    line-height: 0;
  }
  
  .data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    .title {
      font-family: Arial;
      font-size: 16px;
      letter-spacing: -0.24px;
      color: #2F384D;
      margin-bottom: 6px;
    }
    
    .rating {
      display: flex;
      align-items: center;
      
      svg {
        width: 10px;
        height: 10px;
        fill: #FFC900;
        margin-right: 3px;
      }
    }
  }
  
  .other {
    font-family: Arial;
    font-size: 14px;
    letter-spacing: -0.21px;
    color: #2F384D;
    margin-bottom: 17px;
    
    &:hover {
      color: #22C4E0;
    }
  }
  
  .complain {
    display: flex;
    align-items: center;
    
    svg {
      width: 20px;
      height: 20px;
      fill: #AEB6C9;
      margin-right: 6px;
    }
    
    span {
      font-family: Arial;
      font-size: 15px;
      letter-spacing: -0.22px;
      color: #AEB6C9;
    }
  }
}
