<div class="box">
  <a href="" class="author">
    <div class="photo"></div>
    <div class="data">
      <div class="title">Агенство «Фиалка»</div>
      <div class="rating">
        <svg class="svg-star">
          <use xlink:href="#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <svg class="svg-star">
          <use xlink:href="#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <svg class="svg-star">
          <use xlink:href="#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
    </div>
  </a>
  <a href="" class="other">Другие объявления автора (9)</a>
  <a href="" class="complain">
    <svg class="svg-attention">
      <use xlink:href="#attention" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span>Пожаловаться</span>
  </a>
</div>
