<div class="list">
  <a [href]="ad.url" target="_blank" class="item" *ngFor="let ad of list | paginate: { itemsPerPage: filterParams.itemsPerPage, currentPage: filterParams.page, totalItems: filterParams.total}; let i = index">
    <div class="img">
      <img [src]="ad.img" alt="">
    </div>
    <div class="data">
      <div class="data_top">
        <div class="data_top-row">
          <div class="data_top-cell">
            <span class="type">{{ad.title}}</span>
            <!--            <span class="separator">/</span>-->
            <!--            <span class="place">ул. Академика Палладина, 28</span>-->
          </div>
          <!--          <div class="data_top-cell">-->
          <!--            <span class="type">Студия, 43 м2</span>-->
          <!--            <span class="separator">/</span>-->
          <!--            <span class="place">ул. Академика Палладина, 28</span>-->
          <!--          </div>-->
          <!--          -->
          <div class="data_top-cell">
            <span class="price">{{ad.price.value}}</span>
            <span class="price_label">{{ad.price.unit}}</span>
          </div>
        </div>
        <div class="data_top-row">
          <div class="descr">
            <ng-container *ngIf="ad.subtitle">{{ad.subtitle}}</ng-container>
            <ng-container *ngIf="ad.metro && ad.metro.name"> /
              <span [style.color]="ad.metro.color">{{ad.metro.name}}</span>
              {{ad.metro.time}}</ng-container>
          </div>
          <div class="commission">{{ad.price_deposit}}</div>
        </div>
      </div>
      <div class="data_bottom">
        <div class="data_bottom-left">
          <a [href]="(!ad.check_phone ? 'javascript:void(0);' : 'tel:' + ad.phone) | phone" class="phone" (click)="getPhone(ad, $event)">
            <span>{{ad.phone}}</span>
          </a>
          <div class="bookmarks">
            <svg class="svg-bookmarks">
              <use xlink:href="#bookmarks" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <div class="attention">
            <svg class="svg-attention">
              <use xlink:href="#attention" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <div class="person">{{ad.iam}} ·</div>
          <div class="rating">
            <svg class="svg-star">
              <use xlink:href="#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <span>5</span>
          </div>
        </div>
        <div class="data_bottom-right">{{ad.datetime | date}}</div>
      </div>
    </div>
  </a>
</div>
