.list {
  
  .item {
    background-color: #F5F6F7;
    border-radius: 3px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    height: 145px;
    margin-bottom: 24px;
    
    &:last-of-type {
      margin-bottom: 0;
    }
    
    &:hover {
      background-color: #F0F6F7;
    }
  }
  
  .img {
    line-height: 0;
    width: 230px;
  }
  
  .data {
    padding: 18px 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .data_top {
    width: 100%;
  }
  
  .data_top-row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4px;
  }
  
  .type {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -0.3px;
    color: #1F396E;
  }
  
  .separator, .place {
    font-family: Arial, sans-serif;
    font-size: 20px;
    letter-spacing: -0.3px;
    color: #1F396E;
  }
  
  .separator {
    display: inline-block;
    margin: 0 10px;
  }
  
  .price {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #2F384D;
    display: inline-block;
    margin-right: 10px;
  }
  
  .price_label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #2F384D;
  }
  
  .descr {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #AEB6C9;
    
    span {
      color: #E30023
    }
  }
  
  .commission {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #A7ADBC;
  }
  
  .data_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    //align-self: flex-end;
    width: 100%;
  }
  
  
  .data_bottom-left {
    display: flex;
    align-items: center;
  }
  
  .phone {
    display: flex;
    align-items: center;
    //margin-left: 24px;
    height: 35px;
    background-color: #22C4E0;
    overflow: hidden;
    padding: 0 20px;
    border-radius: 17px;
    cursor: pointer;
    padding-bottom: 2px;
    margin-right: 25px;
    
    &:hover {
      background-color: #35D5F2;
    }
    
    svg {
      width: 9px;
      height: 9px;
      fill: #fff;
      margin-right: 11px;
    }
    
    span {
      font-family: Arial, sans-serif;
      font-size: 16px;
      letter-spacing: -0.24px;
      color: #FFFFFF;
    }
  }
  
  .bookmarks {
    padding: 5px;
    cursor: pointer;
    margin-right: 15px;
    
    svg {
      width: 14px;
      height: 20px;
      fill: #AEB6C9;
    }
    
    &:hover {
      svg {
        fill: #A0A7B8
      }
    }
  }
  
  .attention {
    padding: 5px;
    cursor: pointer;
    margin-right: 20px;
    
    svg {
      width: 20px;
      height: 20px;
      fill: #AEB6C9;
    }
    
    &:hover {
      svg {
        fill: #A0A7B8
      }
    }
  }
  
  .person {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #A7ADBC;
    margin-right: 5px;
  }
  
  .rating {
    svg {
      width: 14px;
      height: 13px;
      fill: #FFC900;
    }
    
    span {
      font-family: Arial, sans-serif;
      font-size: 14px;
      letter-spacing: -0.21px;
      color: #2F384D;
    }
  }
  
  .data_bottom-right {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #A7ADBC;
  }
  
  //<span class="type">Студия, 43 м2</span>
  //<span class="separator">/</span>
  //<span class="place">ул. Академика Палладина, 28</span>
}
