<textarea placeholder="Текст"
          [placeholder]="placeholder"
          [(ngModel)]="value"
          (ngModelChange)="valueChange.emit(value)" [maxlength]="maxLength"
></textarea>
<div class="label">{{count}}</div>
