
@import "~src/assets/scss/_mixins";

:host {
  display: block;
  position: relative;
  width: 100%;
  textarea {
    height: 120px;
    width: 100%;
    padding: 23px 22px 16px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid transparent;
    font-family: Arial, sans-serif;
    font-size : 15px;
    color : #7A8096;
    resize: none;
    overflow: hidden;
  
    @include placeholder {
      font-family: Arial, sans-serif;
      font-size : 15px;
      color: #AEB6C9;
      opacity: 1;
    }
  }
  
  .label {
    font-family: Arial, sans-serif;
    font-size : 12px;
    letter-spacing : -0.18px;
    color : #AEB6C9;
    position: absolute;
    left: 22px;
    top: 8px;
  }
}
