//@mixin font-face($path, $name, $weight, $style) {
//	font-family: $name;
//	src: url("/assets/fonts/" + $path + "/" + $path + ".eot");
//	src: url("/assets/fonts/" + $path + "/" + $path + ".eot?#iefix") format('embedded-opentype'),
//	url("/assets/fonts/" + $path + "/" + $path + ".woff") format('woff'),
//	url("/assets/fonts/" + $path + "/" + $path + ".ttf") format('truetype');
//  font-weight: $weight;
//  font-style: $style;
//}

//@mixin font-face($path, $name) {
//	font-family: $name;
//	src: url("/assets/fonts/" + $path + "/" + $path + ".eot");
//	src: url("/assets/fonts/" + $path + "/" + $path + ".eot") format('embedded-opentype'),
//  url("/assets/fonts/" + $path + "/" + $path + ".woff2") format('woff2'),
//	url("/assets/fonts/" + $path + "/" + $path + ".woff") format('woff'),
//	url("/assets/fonts/" + $path + "/" + $path + ".ttf") format('truetype'),
//  url("/assets/fonts/" + $path + "/" + $path + ".svg#SFCompactTextSemibold") format('svg');
//}
//@font-face {
//  font-family: 'SFCompactTextSemibold';
//  src: url('fonts/SFCompactTextSemibold.eot');
//  src: url('fonts/SFCompactTextSemibold.eot') format('embedded-opentype'),
//  url('fonts/SFCompactTextSemibold.woff2') format('woff2'),
//  url('fonts/SFCompactTextSemibold.woff') format('woff'),
//  url('fonts/SFCompactTextSemibold.ttf') format('truetype'),
//  url('fonts/SFCompactTextSemibold.svg#SFCompactTextSemibold') format('svg');
//}


//@font-face { @include font-face("sfcompacttextregular", "SFCompactTextRegular"); }
//@font-face { @include font-face("sfcompacttextmedium", "SFCompactTextMedium"); }
//@font-face { @include font-face("sfcompacttextsemibold", "SFCompactTextSemibold"); }
//@font-face { @include font-face("sfcompacttextsemibold", "SFCompactTextSemibold", 200, normal); }




