.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-attantion {
	font-size:(25/10)*1rem;
	width:(23.32/25)*1em;
}
.icon-attantion-2 {
	font-size:(22.33/10)*1rem;
	width:(25/22.33)*1em;
}
.icon-back-page-btn {
	font-size:(16.41/10)*1rem;
	width:(18.08/16.41)*1em;
}
.icon-basket {
	font-size:(15/10)*1rem;
	width:(15.16/15)*1em;
}
.icon-fb {
	font-size:(20/10)*1rem;
	width:(10.4/20)*1em;
}
.icon-finger {
	font-size:(277.97/10)*1rem;
	width:(214.48/277.97)*1em;
}
.icon-ggl {
	font-size:(19/10)*1rem;
	width:(18.57/19)*1em;
}
.icon-info {
	font-size:(20/10)*1rem;
	width:(8.28/20)*1em;
}
.icon-lightning {
	font-size:(21/10)*1rem;
	width:(10.69/21)*1em;
}
.icon-link {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-logo {
	font-size:(25/10)*1rem;
	width:(40.41/25)*1em;
}
.icon-logo-footer {
	font-size:(20/10)*1rem;
	width:(152.66/20)*1em;
}
.icon-lying {
	font-size:(15.6/10)*1rem;
	width:(15.6/15.6)*1em;
}
.icon-magnif {
	font-size:(14.9/10)*1rem;
	width:(14.9/14.9)*1em;
}
.icon-play {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-profile {
	font-size:(20/10)*1rem;
	width:(18.47/20)*1em;
}
.icon-question-mark {
	font-size:(15/10)*1rem;
	width:(7.78/15)*1em;
}
.icon-quote {
	font-size:(89.75/10)*1rem;
	width:(120/89.75)*1em;
}
.icon-speaker {
	font-size:(11/10)*1rem;
	width:(6.25/11)*1em;
}
.icon-swiper-arr {
	font-size:(31.41/10)*1rem;
	width:(17.12/31.41)*1em;
}
.icon-tm {
	font-size:(16.77/10)*1rem;
	width:(20/16.77)*1em;
}
.icon-tools-1 {
	font-size:(20.04/10)*1rem;
	width:(29.91/20.04)*1em;
}
.icon-tools-2 {
	font-size:(19.56/10)*1rem;
	width:(27.59/19.56)*1em;
}
.icon-tools-3 {
	font-size:(20/10)*1rem;
	width:(26.74/20)*1em;
}
.icon-tools-4 {
	font-size:(22.5/10)*1rem;
	width:(26.5/22.5)*1em;
}
.icon-tools-5 {
	font-size:(23.91/10)*1rem;
	width:(27.5/23.91)*1em;
}
.icon-tools-6 {
	font-size:(28/10)*1rem;
	width:(24.28/28)*1em;
}
.icon-tools-7 {
	font-size:(25/10)*1rem;
	width:(19.43/25)*1em;
}
.icon-tooltip {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-truth {
	font-size:(20/10)*1rem;
	width:(17.03/20)*1em;
}
.icon-tw {
	font-size:(15.73/10)*1rem;
	width:(20/15.73)*1em;
}
.icon-vb {
	font-size:(20/10)*1rem;
	width:(18.97/20)*1em;
}
.icon-ytb {
	font-size:(20/10)*1rem;
	width:(28.39/20)*1em;
}
