<div class="box" [class.__show]="isOpen">
  <div class="content">
    <app-btn-close (click)="close()"></app-btn-close>
    <div class="icon_wrap">
      <div class="icon">
        <svg class="svg-i" [style.fill]="color">
          <use xlink:href="#i" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <circle-progress
          [percent]="progress"
          [radius]="12"
          [outerStrokeWidth]="4"
          [innerStrokeWidth]="2"
          [space]="-3"
          [outerStrokeColor]="'#fff'"
          [innerStrokeColor]="color"
          [animation]="true"
          [animationDuration]="closeTimer"
          [showTitle]="false"
          [showSubtitle]="false"
          [showUnits]="false"
        ></circle-progress>
      </div>
    </div>
    <p>Сохранено</p>
<!--    }" [innerHTML]="content">Сохранено</p>-->
  </div>
</div>
