.box {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  //width: 100%;
  z-index: 1001;
  max-height: 95%;
  opacity: 0;
  visibility: hidden;
  max-width: 450px;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
  z-index: 1100;
  padding: 0 15px;
  
  &.__show {
    opacity: 1;
    visibility: visible;
  }
  
}

app-btn-close {
  ::ng-deep {
    .close {
      width: 50px;
      height: 50px;
    }
  }
}

.content {
  position: relative;
  background: #FFFFFF;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px 60px 24px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1);
  
  .icon_wrap {
    position: absolute;
    left: 18px;
    top: 15px;
    
    .icon {
      position: relative;
      
      &.__warning {
        color: #F20F0F;
      }
      
      &.__succsess {
        color: #1DCC00;
      }
      &.__text {
        color: #AEB6C9;
      }
      
      
      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -60%);
        width: 3px;
        height: 12px;
        //fill: #1DCC00;
        margin-bottom: 1px;
      }
    }
  }
}

p {
  //font-family : 'SourceSansProSemiBold';
  //font-size : 20px;
  //line-height : 24px;
  //letter-spacing : 0.1px;
  //color : #303233;
  //margin-bottom: v_xs(1200, 6);
  //text-align: center;
  font-family: Arial;
  font-size: 17px;
  letter-spacing: -0.25px;
  color: #2F384D;
}

span {
  font-family: 'SourceSansPro';
  font-size: 15px;
  color: #A3ACB3;
  text-align: center;
}


