.box {
  display: block;
  margin-top: 12px;
  background-color: #F5F6F7;
  border-radius: 3px;
  padding: 40px 0 30px;
  position: relative;
  
  .params {
    position: relative;
    max-height: 380px;
    overflow: hidden;
    padding: 0 22px;
    display: flex;
    flex-wrap: wrap;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
  }
  
  
  //.row {
  //  //margin-bottom: 16px;
  //  display: flex;
  //  justify-content: flex-start;
  //  align-items: flex-start;
  //  //order: 2;
  //  margin-top: 18px;
  //  &:first-of-type {
  //    margin-top: 0;
  //  }
  //}
  
  .row_item {
    margin-bottom: 18px;
    margin-right: 22px;
  }
  
  .range {
    display: flex;
    app-form-input-number {
      display: block;
      margin-right: 6px;
    }
  }
  
  .label {
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.33px;
    color: #A7ADBC;
    
    .super {
      vertical-align: super;
      font-size: 10px;
    }
  }
  
  .bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    padding: 0 30px;
  }
  
  .btn-1 {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    
    &:hover {
      span {
        color : #1F396E;
      }
      svg {
        fill: #1F396E;
      }
    }
    
    span {
      font-family: Arial, sans-serif;
      font-size : 16px;
      color : #7A8096;
      
    }
    
    svg {
      fill: #7A8096;
      width: 15px;
      height: 13px;
      margin-right: 11px;
      margin-bottom: 2px;
    }
  }
  
  .btn-2 {
    display: flex;
    align-items: center;
    height: 35px;
    background-color: #22C4E0;
    border-radius: 17px;
    overflow: hidden;
    padding: 0 20px;
    cursor: pointer;
    //padding-bottom: 2px;
    margin-left: 20px;
    .text {
      font-family: Arial, sans-serif;
      font-size: 16px;
      letter-spacing: -0.24px;
      color: #FFFFFF;
      margin-right: 10px;
    }
  
    .count {
      font-family: Arial, sans-serif;
      font-size: 14px;
      letter-spacing: -0.21px;
      color: #FFFFFF;
      opacity: 0.85;
    }
  
    &:hover {
      background-color: #35D5F2;
    }
  }
}
