.box {
  //border-radius: 17px;
  overflow: hidden;
  //background: #fff;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  
  .item {
    height: 30px;
    padding: 0 22px;
    background: #fff;
    display: flex;
    //flex-wrap: wrap;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: -0.24px;
    color: #7A8096;
    cursor: pointer;
    border-radius: 17px;
    z-index: 2;
    position: relative;
    user-select: none;
    opacity: 0.85;
    padding-bottom: 2px;
    overflow: hidden;
    margin-right: 4px;
    margin-bottom: 6px;
    
    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      opacity: 1;
      color: #1F396E;
    }
    &.__active {
      opacity: 1;
      //pointer-events: none;
      color: #fff!important;
      background-color: #22C4E0!important;
      z-index: 1;
      //pointer-events: none;
    }
  }
}
