<div class="page">
  <div class="container">
    <h1>{{announce_id ? 'Редактирование объявления' : 'Новое объявление'}}</h1>
    <app-nav [list]="nav"></app-nav>
    <div class="sections">
      <div class="section">
        <div class="edit" *ngIf="props.length && !edit && !basket" (click)="editHandler()">
          <svg class="svg-edit">
            <use xlink:href="#edit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <div class="announce_delete" *ngIf="basket" (click)="deleteAnnounce()">
          <svg class="svg-basket">
            <use xlink:href="#basket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>

        <div class="title">Тип
          <span *ngIf="props.length && viewData.top.action">{{viewData.top?.action}} / {{viewData.top?.object}}</span>
        </div>
        <div class="top_descr" *ngIf="viewData.main">
          <div class="top_descr-label">{{viewData.main.title}}</div>
          <div class="top_descr-bottom">
            <div class="top_descr-bottom_col">
              <div class="date_label">Создано</div>
              <div class="date_value">{{date.convertWithTime(viewData.main.created_at)}}</div>
            </div>
            <div class="top_descr-bottom_col">
              <div class="date_label">Последнее изменение</div>
              <div class="date_value">{{date.convertWithTime(viewData.main.updated_at)}}</div>
            </div>
          </div>
        </div>
        <div class="rows" [hidden]="!edit">

          <ng-container *ngFor="let row of ad_top">
            <div class="row">
              <div class="label">{{row.label}}</div>
              <div class="item">
                <app-form-radio *ngIf="row.type === 'radio'" [setValues]="row.items" (valueChange)="changeType($event, row)"></app-form-radio>
                <app-form-radio-multi-line *ngIf="row.type === 'checkbox_one'" [values]="row.items" (valueChange)="changeType($event, row)"></app-form-radio-multi-line>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="nextBtn" [class.__active]="nextBtn" [hidden]="!edit" (click)="getProps()">Далее</div>
      </div>
      <ng-container *ngFor="let section of props">
        <div class="section" *ngIf="!section.template && section.key !== 'main'">
          <div class="title">{{section.title}}</div>
          <div class="tip" *ngIf="section.descr">{{section.descr}}</div>
          <div class="rows">

            <div class="row" *ngFor="let row of section.props">
              <div class="label">{{row.label}}</div>
              <div class="item">
                <app-form-radio *ngIf="row.type === 'radio'" [setValues]="row.items" (valueChange)="changeType($event, row)"></app-form-radio>
                <app-form-checkbox *ngIf="row.type === 'checkbox'" [values]="row.items" (valueChange)="changeType($event, row)"></app-form-checkbox>
                <app-form-radio-multi-line *ngIf="row.type === 'checkbox_one'" [values]="row.items" (valueChange)="changeType($event, row)"></app-form-radio-multi-line>
                <ng-container *ngIf="row.type === 'int'">
                  <app-form-input-number [value]="row.value" [placeholder]="row.placeholder" [width]="'105px'" [align]="'left'" (valueChange)="row.value = $event"></app-form-input-number>
                  <div class="units" *ngIf="row.unit">
                    <span class="unit_normal" *ngIf="row.unit.normal">{{row.unit.normal}}</span>
                    <span class="unit_super" *ngIf="row.unit.superscript">{{row.unit.superscript}}</span>
                    </div>
                </ng-container>
                <app-form-input-string [class.__title]="row.slug === 'title'" [value]="row.value" [placeholder]="row.placeholder" [width]="'220px'" *ngIf="row.type === 'string'" (valueChange)="row.value = $event"></app-form-input-string>
                <app-form-input-string [value]="row.value" [placeholder]="row.placeholder" [width]="'220px'" *ngIf="row.type === 'email'" (valueChange)="row.value = $event"></app-form-input-string>
                <app-form-input-phone [value]="row.value" [placeholder]="row.placeholder" [width]="'220px'" *ngIf="row.type === 'phone'" (valueChange)="row.value = $event"></app-form-input-phone>
                <app-form-textarea [value]="row.value" *ngIf="row.type === 'text_area'" [placeholder]="row.placeholder" (valueChange)="row.value = $event"></app-form-textarea>
                <ng-container *ngIf="row.type === 'range'">
                  <app-form-input-number [placeholder]="row.placeholder" label="от" [width]="'71px'" [align]="'left'"></app-form-input-number>
                  <app-form-input-number [placeholder]="row.placeholder" label="до" [width]="'71px'" [align]="'left'"></app-form-input-number>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="section" *ngIf="section.template === 'address'">
          <div class="title">{{section.title}}</div>
          <div class="tip" *ngIf="section.descr">{{section.descr}}</div>
          <div class="rows">
            <div class="row">
              <div class="label">Описание</div>
              <div class="item">
                <div class="col">
                  <app-form-places-autocomplete [value]="section.street ? (section.street + ' ' + section.house_number) : ''" (setAddress)="newAdress($event, section)"></app-form-places-autocomplete>
                </div>
                <div class="col" *ngIf="districts.length">
                  <div class="col_label">Район</div>
                  <app-form-select [setValue]="districts" [list]="districts" [width]="'210px'" [key]="lang.get() === 'uk' ? 'ua' : 'ru'" (changeValue)="section.city_district_id = $event.id"></app-form-select>
                </div>
              </div>
            </div>
            <ng-container *ngIf="metro.length">
              <div class="row __address" *ngFor="let metro of section.metro; let metro_i = index" [style.zIndex]=" section.metro.length - metro_i">
                <div class="label">
                  <span *ngIf="!metro_i">Ближайшее метро</span>
                </div>
                <div class="item">
                  <div class="col">
                    <app-form-select [setValue]="metro.stations" [list]="metro.stations" [width]="'160px'" [key]="lang.get() === 'uk' ? 'ua' : 'ru'" (changeValue)="changeMetro($event, metro)"></app-form-select>
                  </div>
                  <div class="col">
                    <div class="col_label">Время до метро</div>
                    <app-form-radio class="metro-transport" [setValues]="metro.radio"></app-form-radio>
                    <app-form-input-number [value]="metro.int.value" [placeholder]="''" [width]="'71px'" [align]="'left'" (valueChange)="changeMetroTime($event, metro)"></app-form-input-number>
                    <div class="units" *ngIf="metro.int.unit">{{metro.int.unit}}</div>
                  </div>
                </div>
                <div class="deleteMetro" (click)="deleteMetro(metro, section.metro)" *ngIf="section.metro.length > 1"></div>
              </div>
              <div class="addMetro" *ngIf="section.metro.length < 3" (click)="addMetro(section.metro)">
                <div class="icon"></div>
                <span>добавить</span>
              </div>
            </ng-container>
            <app-form-map [setView]="autocomplete"></app-form-map>
          </div>
        </div>
        <div class="section" *ngIf="section.template === 'photos'">
          <div class="title">{{section.title}}</div>
          <div class="tip" *ngIf="section.descr">{{section.descr}}</div>
          <div class="rows">
            <app-form-photo [imgs]="section?.items" [formats]="['jpg', 'jpeg', 'png', 'gif']" [minWidth]="1" (newImgs)="section.items = $event"></app-form-photo>
          </div>
        </div>
      </ng-container>


    </div>
    <div class="btns">
      <button class="preview">Предпросмотр</button>
      <!--      <button class="preview"></button>-->
      <!--      <button class="add">Разместить объявление</button>-->
      <button class="preview" (click)="submitDraft()">Сохранить черновик</button>
    </div>
  </div>
</div>
