.page {
  padding-bottom: 80px;
  
  .container {
    padding-top: 24px;
    max-width: 860px;
  }
  
  h1 {
    font-family: Arial;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: -0.52px;
    color: #2F384D;
    margin-bottom: 20px;
  }
  
  app-nav {
    display: block;
    margin-bottom: 30px;
  }
  
  .section {
    background: #F5F6F7;
    border-radius: 3px;
    padding: 26px 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 12px;
    position: relative;
    
    .top_descr {
      margin-top: 20px;
      .top_descr-label {
        font-family: Arial;
        font-weight: bold;
        font-size: 17px;
        letter-spacing: 0.43px;
        color: #2F384D;
        margin-bottom: 12px;
      }
      
      .top_descr-bottom {
        display: flex;
      }
      
      .top_descr-bottom_col {
        margin-right: 30px;
      }
      
      .date_value {
        font-family: Arial;
        font-size: 13px;
        letter-spacing: 0.33px;
        color: #2F384D;
      }
      
      .date_label {
        font-family: Arial;
        font-size: 13px;
        letter-spacing: 0.33px;
        color: #A7ADBC;
        margin-bottom: 6px;
      }
      
    }
    
    .edit {
      padding: 5px;
      position: absolute;
      right: 15px;
      top: 25px;
      cursor: pointer;
      
      &:hover {
        svg {
          fill: #7C858C;
        }
      }
      
      svg {
        width: 15px;
        height: 15px;
        fill: #AEB6C9;
      }
    }
    
    .announce_delete {
      padding: 5px;
      position: absolute;
      right: 15px;
      top: 25px;
      cursor: pointer;
      
      &:hover {
        svg {
          fill: #7C858C;
        }
      }
      
      svg {
        width: 15px;
        height: 15px;
        fill: #A0A7B8;
      }
    }
    
    &:last-of-type {
      margin-bottom: 0;
    }
    
    &.__disabled {
      pointer-events: none;
    }
  }
  
  .title {
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -0.3px;
    color: #AEB6C9;
    display: flex;
    align-items: center;
    
    span {
      font-family: Arial;
      font-size: 20px;
      letter-spacing: -0.3px;
      color: #AEB6C9;
      font-weight: normal;
      margin-left: 20px;
    }
  }
  
  .nextBtn {
    font-family: Arial;
    font-size: 16px;
    letter-spacing: -0.24px;
    color: #FFFFFF;
    
    padding: 0 20px;
    background-color: #C9CDD6;
    border-radius: 17px;
    overflow: hidden;
    height: 35px;
    align-self: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    pointer-events: none;
    margin-top: 30px;
    
    &.__active {
      background-color: #22C4E0;
      pointer-events: auto;
    }
  }
  
  .rows {
    //margin-bottom: 30px;
    margin-top: 26px;
    width: 100%;
  }
  
  .row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    justify-content: flex-start;
    position: relative;
    
    &.__address {
      app-form-input-number {
        margin-right: 0;
      }
      
      .col_label {
        padding-left: 20px;
      }
    }
    
    &:last-of-type {
      margin-bottom: 0;
    }
    
    .col {
      display: flex;
      align-items: center;
    }
    
    .metro-transport {
      margin-right: 10px;
    }
    
    &:nth-of-type(1) {
      app-form-select {
        ::ng-deep {
          .box {
            z-index: 100;
          }
        }
      }
    }
    
    &:nth-of-type(2) {
      app-form-select {
        ::ng-deep {
          .box {
            z-index: 90;
          }
        }
      }
    }
    
    &:nth-of-type(3) {
      app-form-select {
        ::ng-deep {
          .box {
            z-index: 80;
          }
        }
      }
    }
    
    &:nth-of-type(4) {
      app-form-select {
        ::ng-deep {
          .box {
            z-index: 70;
          }
        }
      }
    }
    
    &:nth-of-type(5) {
      app-form-select {
        ::ng-deep {
          .box {
            z-index: 60;
          }
        }
      }
    }
    
  }
  
  .addMetro {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    //display: inline-block;
    margin-left: 160px;
    
    &:hover {
      span {
        color: #1F396E;
      }
    }
    
    .icon {
      width: 15px;
      height: 15px;
      position: relative;
      
      &:before, &:after {
        display: block;
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 15px;
        height: 2px;
        background-color: #7A8096;
      }
      
      &:before {
        transform: translate(-50%, -50%) rotate(90deg);
      }
      
      &:after {
        display: block;
        content: '';
        position: absolute;
        transform: translate(-50%, -50%);
        width: 15px;
        height: 2px;
        background-color: #7A8096;
      }
      
    }
    
    span {
      font-family: Arial;
      font-size: 16px;
      color: #7A8096;
      margin-left: 10px;
    }
  }
  
  .deleteMetro {
    //transform: ;
    width: 15px;
    height: 15px;
    position: relative;
    margin-left: 12px;
    align-self: center;
    margin-bottom: 2px;
    cursor: pointer;
    //position: absolute;
    //right: 0;
    //top: 50%;
    transform: rotate(45deg);
    //transform: translateY(-50%) rotate(45deg);
    z-index: 1;
    
    
    &:hover {
      &:before, &:after {
        background-color: #7C858C;
      }
    }
    
    
    &:before, &:after {
      display: block;
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 15px;
      height: 2px;
      background-color: #A0A7B8;
    }
    
    &:before {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    
    &:after {
      transform: translate(-50%, -50%);
    }
    
  }
  
  .label {
    font-family: Arial;
    font-size: 13px;
    letter-spacing: 0.33px;
    color: #A7ADBC;
    max-width: 160px;
    min-width: 160px;
    padding-right: 20px;
    text-align: right;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .col_label {
    font-family: Arial;
    font-size: 13px;
    letter-spacing: 0.33px;
    color: #A7ADBC;
    margin-right: 20px;
    padding-left: 40px;
    height: 30px;
    display: flex;
    align-items: center;
  }
  
  .item {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  app-form-input-number {
    display: block;
    margin-right: 12px;
  }
  
  app-form-input-string {
    &.__title {
      display: block;
      flex: 1;
      
      ::ng-deep {
        input {
          width: 100%!important;
        }
      }
    }
  }
  
  .units {
    font-family: Arial;
    font-size: 13px;
    letter-spacing: -0.19px;
    vertical-align: super;
    color: #7A8096;
    align-self: center;
    margin-left: 10px;
  }
  
  .unit_super {
    vertical-align: super;
    font-size: 10px;
  }
  
  .tip {
    font-family: Arial;
    font-size: 13px;
    letter-spacing: -0.19px;
    color: #AEB6C9;
    margin-top: 8px;
  }
  
  .btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
  }
  
  .preview {
    padding: 5px 15px;
    font-family: Arial;
    font-size: 16px;
    color: #7A8096;
    
    &:hover {
      color: #1F396E;
    }
  }
  
  .add {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    height: 35px;
    background-color: #22C4E0;
    overflow: hidden;
    padding: 0 20px;
    border-radius: 17px;
    cursor: pointer;
    padding-bottom: 2px;
    
    &:hover {
      background-color: #35D5F2;
    }
    
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: -0.24px;
    color: #FFFFFF;
  }
}
