<div class="page">
  <!--  <div class="container">-->
  <!--    -->
  <!--  </div>-->
  <div class="top">
    <div class="cover">
      <img src="/assets/img/main-cover.jpg" alt="">
    </div>
    <div class="content">
      <app-radio-with-animation [btns]="top" (changeAction)="changeAction($event)"></app-radio-with-animation>
      <app-selects [filters]="filters" (changeProps)="getCount()" (selectPlace)="changePlace($event)" (selectObject)="changeObject($event)"></app-selects>
      <div class="btns">
        <div class="marker">
          <svg class="svg-marker">
            <use xlink:href="#marker" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <div class="show" (click)="showResult()">
          <span class="text">Показать</span>
          <div class="spinner" [hidden]="!countIsLoading">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 50 50">
              <path fill="#fff" d="M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z">
                <animateTransform attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.5s" repeatCount="indefinite"/>
              </path>
            </svg>
          </div>
          <span class="count" [hidden]="countIsLoading"> ({{count}})</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="title">Продажа жилой недвижимости, Бердянск</div>
    <app-list [photo]="'/assets/img/main-list-photo.jpg'"></app-list>
    <div class="title">Аренда жилой недвижимости, Бердянск</div>
    <app-list [photo]="'/assets/img/main-list-photo.jpg'"></app-list>
    <div class="title">Жилая недвижимость на карте</div>
    <ng-container *ngIf="isBrowser">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </ng-container>
    <div class="title">Бизнес-недвижимость</div>
    <app-list></app-list>
  </div>
</div>
