.page {
  padding-bottom: 80px;
  
  .top {
    height: 450px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    
    img {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      
      height: auto;
      width: auto;
      min-width: 100%;
      max-width: none;
      min-height: 100%;
      max-height: none;
    }
  }
  
  .content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    .btns {
      align-self: flex-end;
      margin-top: 32px;
      display: flex;
      align-items: center;
    }
    
    .marker {
      width: 35px;
      height: 35px;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #22C4E0;
      cursor: pointer;
      margin-right: 20px;
      line-height: 0;
      
      svg {
        width: 11px;
        height: 15px;
        fill: #fff
      }
      
      &:hover {
        background-color: #35D5F2;
      }
    }
    
    .show {
      display: flex;
      align-items: center;
      height: 35px;
      background-color: #22C4E0;
      border-radius: 17px;
      overflow: hidden;
      padding: 0 20px;
      cursor: pointer;
      padding-bottom: 2px;
      
      .text {
        font-family: Arial, sans-serif;
        font-size: 16px;
        letter-spacing: -0.24px;
        color: #FFFFFF;
        margin-right: 10px;
      }
      
      .count {
        font-family: Arial, sans-serif;
        font-size: 14px;
        letter-spacing: -0.21px;
        color: #FFFFFF;
        opacity: 0.85;
        margin-bottom: 2px;
      }
      
      .spinner {
        line-height: 0;
      }
      
      &:hover {
        background-color: #35D5F2;
      }
    }
  }
  
  app-radio-with-animation {
    display: block;
    margin-bottom: 4px;
  }
  
  .container {
    padding-top: 50px;
    
    & > *:last-child {
      margin-bottom: 0 !important;
    }
  }
  
  .title {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: -0.37px;
    color: #2F384D;
    margin-bottom: 22px;
  }
  
  app-list {
    display: block;
    margin-bottom: 50px;
  }
  
  agm-map {
    display: block;
    height: 300px;
    margin-bottom: 50px;
  }
}
