.page {
  padding-bottom: 80px;
  
  .container {
    display: flex;
  }
  
  .content {
    flex: 1;
    overflow: hidden;
  }
  
  app-swiper {
    display: block;
    margin-bottom: 22px;
  }
  
  .section_title {
    font-family: Arial;
    font-size: 25px;
    letter-spacing: -0.37px;
    color: #7A8096;
    margin-bottom: 16px;
    margin-top: 48px;
  }
  
  .address {
    font-family: Arial;
    font-size: 14px;
    letter-spacing: -0.21px;
    color: #A7ADBC;
  }
  .title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 3px;
    
    .type {
      font-family: Arial;
      font-weight: bold;
      font-size: 25px;
      letter-spacing: -0.37px;
      color: #2F384D;
    }
    
    .separator, .place {
      font-family: Arial;
      font-size: 25px;
      letter-spacing: -0.37px;
      color: #2F384D;
    }
    
    .separator {
      display: inline-block;
      margin: 0 10px;
    }
  }
  
  .district {
    font-family: Arial;
    font-size: 14px;
    letter-spacing: -0.21px;
    color: #A7ADBC;
    margin-bottom: 14px;
  }
  
  .district_descr {
    display: flex;
    align-items: flex-end;
    margin-bottom: 52px;
    margin-top: 16px;
  }
  
  .district_descr-place {
    display: flex;
    align-items: flex-end;
    margin-right: 22px;
    
    svg {
      width: 18px;
      height: 15px;
      fill: #E30023;
      margin-right: 8px;
      margin-bottom: 2px;
    }
    
    span {
      font-family: Arial;
      font-size: 14px;
      letter-spacing: -0.21px;
      color: #E30023;
    }
  }
  
  .district_descr-time {
    display: flex;
    align-items: flex-end;
    
    .svg-walking {
      width: 7.9px;
      height: 15px;
      fill: #A7ADBC;
      margin-right: 8px;
      margin-bottom: 2px;
    }
    .svg-car {
      width: 15px;
      height: 11px;
      fill: #A7ADBC;
      margin-right: 8px;
      margin-bottom: 1px;
    }
    span {
      font-family: Arial;
      font-size: 12px;
      letter-spacing: -0.18px;
      color: #A7ADBC;
    }
  }
  
  app-apartment-info{
    margin-bottom: 52px;
  }
  
  app-apartment-info, app-facilities {
    display: block;
  }
  
  p {
    font-family: Arial;
    font-size: 17px;
    line-height: 26px;
    color: #474D59;
    margin-bottom: 45px;
  }
  
  
  .sidebar {
    width: 320px;
    margin-left: 40px;
    
    app-info-widget {
      display: block;
      margin-bottom: 8px;
    }
  }
}
