<div class="page">
  <div class="container">
    <div class="content">
      <app-swiper [data]="ad.photo"></app-swiper>
      <div class="title">
        <span class="type">{{ad.title}}</span>
      </div>
      <div class="address">{{ad.address}}</div>

      <!--      <div class="district">{{ad.city}}, {{ad.city_district}}</div>-->
      <div class="district_descr" *ngFor="let metro of ad.metro">
        <div class="district_descr-place">
          <svg class="svg-metro" [style.fill]="metro.color">
            <use xlink:href="#metro" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <span [style.color]="metro.color">Университет</span>
        </div>
        <div class="district_descr-time">
          <svg class="svg-walking" *ngIf="metro.on_foot">
            <use xlink:href="#walking" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <svg class="svg-car" *ngIf="!metro.on_foot">
            <use xlink:href="#car" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <span>{{metro.time}}</span>
        </div>
      </div>
      <div class="section_title">{{ad.characteristics?.title}}</div>
      <app-apartment-info *ngIf="ad.characteristics" [list]="ad.characteristics.items.main" [columns_length]="3"></app-apartment-info>
      <app-facilities *ngIf="ad.characteristics" [list]="ad.characteristics.items.additional"></app-facilities>
      <div class="section_title">{{ad.description?.title}}</div>
      <p>{{ad.description?.value}}</p>
      <div class="section_title">{{ad.about_building?.title}}</div>
      <app-apartment-info *ngIf="ad.about_building" [list]="ad.about_building.items" [columns_length]="2"></app-apartment-info>
    </div>
    <div class="sidebar">
      <app-info-widget [ad]="ad"></app-info-widget>
      <app-author-widget></app-author-widget>
    </div>
  </div>
</div>
