<div class="box">
  <div class="inp" appClickOutside (clickOutside)="filter.d_isOpen = false" *ngFor="let filter of filters" [class.__vertical]="filter.isProp">
    <ng-container *ngIf="filter.slug === 'objects'">
      <div class="inp_top" (click)="filter.d_isOpen = !filter.d_isOpen">
        <span class="current_value" [class.__placeholder]="!filter.value">{{filter.title}}</span>
        <div class="icon" [class.__rotate]="filter.d_isOpen">
          <svg class="svg-arrow">
            <use xlink:href="#arrow-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
      <div class="dropdown" [hidden]="!filter.d_isOpen">
        <div class="row_item" *ngFor="let row of filter.items">
          <div class="label">{{row.placeholder}}</div>
          <app-form-radio-multi-line *ngIf="row.type === 'checkbox_one'" main="true" [values]="row.items" (valueChange)="changeObject($event, row, filter)"></app-form-radio-multi-line>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="filter.slug !== 'objects' && filter.type === 'checkbox'">
      <div class="inp_top" (click)="filter.d_isOpen = !filter.d_isOpen">
        <span class="current_value" [class.__placeholder]="!filter.value">{{filter.title}}</span>
        <div class="icon" [class.__rotate]="filter.d_isOpen">
          <svg class="svg-arrow">
            <use xlink:href="#arrow-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
      <div class="dropdown" [hidden]="!filter.d_isOpen">
        <div class="row_item">
          <div class="label">{{filter.placeholder}}</div>
          <app-form-checkbox [values]="filter.items" (valueChange)="changeCheckbox($event,filter)"></app-form-checkbox>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="filter.slug !== 'objects' && filter.type === 'int'">
      <div class="inp_top" (click)="filter.d_isOpen = !filter.d_isOpen">
        <span class="int_prefix" *ngIf="filter.prefix">{{filter.prefix}}</span>
        <app-form-input-number [value]="filter.value" [placeholder]="filter.placeholder" [width]="'100px'" [align]="'left'" (valueChange)="filter.value = $event; changeProps.emit(true)"></app-form-input-number>
        <div class="unit">
          <span class="unit_normal" *ngIf="filter.unit.normal">{{filter.unit.normal}}</span>
          <span class="unit_super" *ngIf="filter.unit.superscript">{{filter.unit.superscript}}</span>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="inp" appClickOutside (clickOutside)="place.isOpen = false">
    <div class="inp_top" (click)="place.isOpen = !place.isOpen">
      <span class="current_value">{{place.name}}</span>
      <div class="icon">
        <svg class="svg-arrow">
          <use xlink:href="#arrow-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
    </div>
    <div class="place_dropdown" *ngIf="place.isOpen">
      <app-dropdown-with-search [url]="'/city/dict'" [key]="'fullname'" [open]="place.isOpen" (changeValue)=" changePlace($event)" (closeDropdown)="place.isOpen = false"></app-dropdown-with-search>
    </div>


  </div>


</div>
