.box {
  background: rgba(255, 255, 255, .95);
  border-radius: 25px;
  display: flex;
  //overflow: hidden;
  //display: flex;
  position: relative;
  //width: 720px;
  
  .inp {
    height: 50px;
    padding: 0 0 0 18px;
    display: flex;
    align-items: center;
    //position: relative;
    &.__vertical {
      position: relative;
      
      .dropdown {
        //position: absolute;
        //left: 0;
        right: auto;
        min-width: 100%;
        //top: 100%;
        //margin-top: 10px;
        //display: block;
        //margin-top: 12px;
        //background-color: #F5F6F7;
        //border-radius: 8px;
        //padding: 20px;
        //position: relative;
      }
      
      .row_item {
        margin-right: 0;
        margin-bottom: 0;
      }
      
      app-form-checkbox {
        ::ng-deep {
          .box {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            
            .item {
              white-space: nowrap;
              margin-right: 0;
            }
          }
        }
      }
    }
    
    app-dropdown-with-search {
      
      ::ng-deep {
        .box {
          left: 0;
          //box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1);
          width: 100%;
        }
      }
    }
    
    app-form-checkbox, app-form-radio-multi-line {
      ::ng-deep {
        .box {
          .item {
            background-color: #F5F6F7;
          }
        }
      }
    }
    
    
    .place_dropdown {
      position: absolute;
      left: auto;
      width: auto;
      top: 100%;
      right: 0;
      min-width: 360px;
      margin-top: 8px;
      box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1);
      
      &:before {
        top: 0;
        left: 15px;
        width: 10px;
        height: 10px;
        transform: rotate(45deg) translateX(-50%);
        content: "";
        background: #fff;
        position: absolute;
        pointer-events: none;
        z-index: 1;
        box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1);
      }
    }
    
    &:hover {
      //.inp_top {
      //  span {
      //    color: #1F396E;
      //  }
      //
      //  svg {
      //    fill: #1F396E;
      //  }
      //}
    }
    
    &:after {
      display: block;
      content: '';
      //position: absolute;
      //top: 50%;
      //transform: translateY(-50%);
      //right: 0;
      margin-left: 22px;
      height: 15px;
      width: 1px;
      background-color: #CED1D6;
      border-radius: 1px;
    }
    
    &:first-of-type {
      padding-left: 30px;
    }
    
    &:last-of-type {
      padding-right: 30px;
      
      &:after {
        display: none;
      }
    }
  
    min-width: 155px;
    //&:nth-of-type(1) {
    //  min-width: 240px;
    //}
    //
    //&:nth-of-type(2) {
    //  min-width: 155px;
    //}
    //
    //&:nth-of-type(3) {
    //  min-width: 155px;
    //}
    //
    //&:nth-of-type(4) {
    //  min-width: 155px;
    //}
    
    
  }
  
  .inp_top {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    
    .current_value {
      font-family: Arial;
      font-size: 15px;
      letter-spacing: -0.22px;
      color: #1F396E;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      
      &.__placeholder {
        color: #AEB6C9;
      }
    }
    
    .unit, .int_prefix {
      font-family: Arial;
      font-size: 13px;
      letter-spacing: -0.19px;
      color: #AEB6C9;
    }
    
    .unit_super {
      vertical-align: super;
      font-size: 10px;
    }
    
    app-form-input-number {
      ::ng-deep {
        input {
          color: #1F396E;
          padding: 0 12px 2px;
          
          &:focus, &:hover {
            border-color: transparent !important;
          }
        }
      }
    }
    
    
    //span {
    //  font-family: Arial, sans-serif;
    //  font-size: 16px;
    //  letter-spacing: -0.24px;
    //  color: #7A8096;
    //}
  }
  
  .dropdown {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 10px;
    display: block;
    //margin-top: 12px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1);
    //position: relative;
  }
  
  .row_item {
    margin-bottom: 18px;
    margin-right: 22px;
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  
  .range {
    display: flex;
    
    app-input-number {
      display: block;
      margin-right: 6px;
    }
  }
  
  .label {
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.33px;
    color: #A7ADBC;
  }
  
  .icon {
    height: 4px;
    line-height: 0;
    margin-left: 10px;
    
    
    &.__rotate {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  
  .svg-arrow {
    height: 4px;
    width: 9px;
    fill: #7A8096;
  }
}
