.page {
  padding-bottom: 80px;
  
  .container {
    //padding-top: 24px;
  }
  
  app-top {
    display: block;
    margin-bottom: 55px;
  }
  
  .title {
    //display: flex;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: -0.37px;
    color: #2F384D;
    margin-bottom: 18px;
    
    span {
      font-family: Arial, sans-serif;
      font-weight: normal;
      font-size: 22px;
      letter-spacing: -0.33px;
      color: #A7ADBC;
    }
  }
  
  .sorts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 42px;
  }
  
  .sort_list {
    display: flex;
    align-items: center;
  }
  
  .sort_list-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    margin-right: 16px;
    
    &:last-of-type {
      margin-right: 0;
    }
    
    span {
      font-family: Arial, sans-serif;
      font-size: 14px;
      letter-spacing: -0.21px;
      color: #7A8096;
      margin-right: 10px;
      padding-bottom: 2px;
    }
    
    svg {
      width: 8px;
      height: 4px;
      fill: #7A8096;
      transform: rotate(180deg);
    }
    
    &:hover {
      span {
        color: #1F396E;
      }
    }
    
    &.__active {
      span {
        color: #1F396E;
      }
      
      svg {
        //fill: #1F396E;
      }
    }
    
    &.__rotate {
      svg {
        transform: rotate(0);
      }
    }
    
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  
  .view {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #F2F3F4;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    
    &:hover {
      svg {
        fill: #A0A7B8;
      }
    }
    
    svg {
      width: 15px;
      height: 12px;
      fill: #AEB6C9
    }
  }
  
  .place {
    line-height: 0;
    padding: 5px;
    cursor: pointer;
    
    &:hover {
      svg {
        fill: #A0A7B8;
      }
    }
    
    svg {
      width: 15px;
      height: 20px;
      fill: #AEB6C9
    }
  }
  
  //.pagination {
  //  display: flex;
  //  justify-content: center;
  //
  //  //font-family : Arial;
  //  //font-size : 17px;
  //  //letter-spacing : -0.25px;
  //  //color : #AEB6C9;
  //  //color : rgb(174, 182, 201);
  //
  //  //font-family : Arial;
  //  //font-size : 17px;
  //  //letter-spacing : -0.25px;
  //  //color : #2F384D;
  //  //color : rgb(47, 56, 77);
  //  //45
  //  //45
  //  //background-color: #;
  //}
  
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    
    .currentPage {
      font-family: 'SourceSansProSemiBold';
      font-size: 20px;
      letter-spacing: 0.5px;
      color: #767D80;
      width: 35px;
      text-align: center;
      margin: 0;
      display: none;
    }
    
    .pagination_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      margin-right: 16px;
      
      &.__disabled {
        pointer-events: none;
        opacity: 0.5;
      }
      
      &.__rotate {
        transform: rotate(180deg);
        margin-left: 16px;
        margin-right: 0;
      }
      
      svg {
        width: 18.1px;
        height: 16.5px;
        fill: #AEB5BB;
      }
      
      &:hover {
        svg {
          fill: #7C858C;
        }
      }
    }
    
    ::ng-deep {
      .ngx-pagination {
        display: flex;
        align-items: center;
        margin: 0 auto;
        
        a, button {
          font-family: Arial;
          font-size: 17px;
          letter-spacing: -0.25px;
          color: #AEB6C9;
          margin: 0 5px;
          width: 45px;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          
          &:hover {
            color: #2053AB;
            background-color: transparent;
          }
        }
        
        .current {
          font-family: Arial;
          font-size: 17px;
          letter-spacing: -0.25px;
          color: #2F384D;
          cursor: default;
          background-color: #F2F3F4;
          border-radius: 50%;
          width: 45px;
          height: 45px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
