<div class="page">
  <div class="container">
    <app-top (showResults)="showResult($event)"
             [data]="filterParams"
             [filters]="filters"
             (moreFiltersChange)="moreFilters = $event"
             (selectAction)="changeAction($event)"
             (selectObject)="changeObject($event)"></app-top>
    <div class="title" #titleEl>{{title}}
      <span> (объектов: {{filterParams.total}})</span>
    </div>
    <div class="sorts">
      <div class="sort_list">
        <div class="sort_list-item" [ngClass]="{
        '__active': filterParams.order_by === 'datetime',
        '__rotate': filterParams.direction === 'asc' && filterParams.order_by === 'datetime'
        }" (click)="filterHandler('datetime')">
          <span>по дате</span>
          <svg class="svg-arrow-3">
            <use xlink:href="#arrow-3" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <div class="sort_list-item" [ngClass]="{
        '__active': filterParams.order_by === 'price',
        '__rotate': filterParams.direction === 'asc' && filterParams.order_by === 'price'
        }" (click)="filterHandler('price')">
          <span>по цене</span>
          <svg class="svg-arrow-3">
            <use xlink:href="#arrow-3" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <div class="sort_list-item" [ngClass]="{
        '__active': filterParams.order_by === 'area',
        '__rotate': filterParams.direction === 'asc' && filterParams.order_by === 'area'
        }" (click)="filterHandler('area')">
          <span>по площади</span>
          <svg class="svg-arrow-3">
            <use xlink:href="#arrow-3" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <div class="sort_list-item" [ngClass]="{
        '__active': filterParams.order_by === 'metro_time',
        '__rotate': filterParams.direction === 'asc' && filterParams.order_by === 'metro_time'
        }" (click)="filterHandler('metro_time')">
          <span>по времени до метро</span>
          <svg class="svg-arrow-3">
            <use xlink:href="#arrow-3" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
      <div class="right">
        <div class="view">
          <svg class="svg-list">
            <use xlink:href="#list" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <div class="place">
          <svg class="svg-marker">
            <use xlink:href="#marker" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
    </div>
    <app-list [filterParams]="filterParams" [list]="list"></app-list>
    <div class="pagination">
      <pagination-controls (pageChange)="changePageHandler($event)" directionLinks="false" autoHide="true"></pagination-controls>
    </div>
  </div>
</div>
