.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-1 {
	font-size:(4/10)*1rem;
	width:(9/4)*1em;
}
.icon-arrow-2 {
	font-size:(16.41/10)*1rem;
	width:(18.41/16.41)*1em;
}
.icon-arrow-3 {
	font-size:(4/10)*1rem;
	width:(8/4)*1em;
}
.icon-attention {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-basket {
	font-size:(15/10)*1rem;
	width:(15.16/15)*1em;
}
.icon-bookmarks {
	font-size:(20/10)*1rem;
	width:(15/20)*1em;
}
.icon-camera {
	font-size:(15/10)*1rem;
	width:(18.75/15)*1em;
}
.icon-car {
	font-size:(11.37/10)*1rem;
	width:(15/11.37)*1em;
}
.icon-edit {
	font-size:(15/10)*1rem;
	width:(15.03/15)*1em;
}
.icon-facilities-1 {
	font-size:(21.34/10)*1rem;
	width:(31.44/21.34)*1em;
}
.icon-facilities-10 {
	font-size:(26.44/10)*1rem;
	width:(25.96/26.44)*1em;
}
.icon-facilities-11 {
	font-size:(20.36/10)*1rem;
	width:(31.44/20.36)*1em;
}
.icon-facilities-12 {
	font-size:(26.44/10)*1rem;
	width:(29.51/26.44)*1em;
}
.icon-facilities-2 {
	font-size:(16.35/10)*1rem;
	width:(31.44/16.35)*1em;
}
.icon-facilities-3 {
	font-size:(26.44/10)*1rem;
	width:(15.57/26.44)*1em;
}
.icon-facilities-4 {
	font-size:(26.44/10)*1rem;
	width:(22.34/26.44)*1em;
}
.icon-facilities-5 {
	font-size:(26.44/10)*1rem;
	width:(22.34/26.44)*1em;
}
.icon-facilities-6 {
	font-size:(26.44/10)*1rem;
	width:(28.08/26.44)*1em;
}
.icon-facilities-7 {
	font-size:(26.44/10)*1rem;
	width:(23.14/26.44)*1em;
}
.icon-facilities-8 {
	font-size:(26.44/10)*1rem;
	width:(31.59/26.44)*1em;
}
.icon-facilities-9 {
	font-size:(16.29/10)*1rem;
	width:(36.44/16.29)*1em;
}
.icon-fb {
	font-size:(20/10)*1rem;
	width:(10.4/20)*1em;
}
.icon-ggl {
	font-size:(19/10)*1rem;
	width:(18.57/19)*1em;
}
.icon-heart {
	font-size:(13.8/10)*1rem;
	width:(15/13.8)*1em;
}
.icon-i {
	font-size:(12/10)*1rem;
	width:(2.74/12)*1em;
}
.icon-list {
	font-size:(12/10)*1rem;
	width:(15/12)*1em;
}
.icon-logo {
	font-size:(36/10)*1rem;
	width:(143.33/36)*1em;
}
.icon-logo-1 {
	font-size:(35/10)*1rem;
	width:(145.08/35)*1em;
}
.icon-marker {
	font-size:(15/10)*1rem;
	width:(11/15)*1em;
}
.icon-metro {
	font-size:(15/10)*1rem;
	width:(18.08/15)*1em;
}
.icon-place {
	font-size:(8.49/10)*1rem;
	width:(8.49/8.49)*1em;
}
.icon-plus {
	font-size:(9/10)*1rem;
	width:(9/9)*1em;
}
.icon-star {
	font-size:(13/10)*1rem;
	width:(13.67/13)*1em;
}
.icon-swiper-arrow {
	font-size:(43/10)*1rem;
	width:(23.56/43)*1em;
}
.icon-tw {
	font-size:(15.73/10)*1rem;
	width:(20/15.73)*1em;
}
.icon-user {
	font-size:(66.11/10)*1rem;
	width:(61.05/66.11)*1em;
}
.icon-walking {
	font-size:(15/10)*1rem;
	width:(7.84/15)*1em;
}
