<div class="box">
  <div class="container">
    <div class="left">
      <div class="langs" appClickOutside (clickOutside)="closeLangDropdown()">
        <div class="langs_top" (click)="isLangDropdown = !isLangDropdown" [class.__active]="isLangDropdown">
          <span>{{currentLang}}</span>
          <div class="icon" [class.__rotate]="isLangDropdown">
            <svg class="svg-arrow">
              <use xlink:href="#arrow-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
        <div class="langs_dropdown" [hidden]="!isLangDropdown">
          <div class="langs_dropdown-list">
            <div class="langs_dropdown-item" (click)="switchLang(lang)" [class.__selected]="lang.selected" *ngFor="let lang of langs">{{lang.full_title}}</div>
          </div>
        </div>
      </div>
      <div class="place" appClickOutside (clickOutside)="closePlaceDropdown()">
        <div class="place_top" (click)="isPlaceDropdown = !isPlaceDropdown">
          <div class="icon">
            <svg class="svg-place">
              <use xlink:href="#place" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <span>{{place.title}}</span>
        </div>
        <div class="place_dropdown" *ngIf="isPlaceDropdown">
          <app-dropdown-with-search
            [url]="'/cities/dict'"
            [open]="isPlaceDropdown"
            (changeValue)="place = $event; closePlaceDropdown()"
            (closeDropdown)="closePlaceDropdown()"></app-dropdown-with-search>
        </div>
      </div>
    </div>
    <div class="right">
      <a href="" class="link">Контакты</a>
      <a href="" class="link">Про нас</a>
      <div class="link" *ngIf="!isLogin" [routerLink]="['', {outlets: {modals: 'auth'}}]" [skipLocationChange]="true">Войти</div>
      <div class="user" *ngIf="isLogin">
        <svg class="svg-user" *ngIf="!user.avatar">
          <use xlink:href="#user" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <img *ngIf="user.avatar" [src]="user.avatar" alt="">
      </div>
    </div>
  </div>
</div>
