.box {
  background-color: #F5F6F7;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .langs {
    position: relative;
    user-select: none;
    margin-right: 25px;
  }
  
  .langs_top {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    
    &:hover {
      span {
        color: #1F396E;
      }
      
      .icon {
        svg {
          fill: #1F396E;
        }
      }
    }
    
    &.__active {
      span {
        color: #1F396E;
      }
      
      .icon {
        transform: rotate(180deg);
        
        svg {
          fill: #1F396E;
        }
      }
    }
    
    span {
      font-family: Arial, sans-serif;
      font-size: 15px;
      letter-spacing: -0.22px;
      color: #7A8096;
      margin-right: 7px;
    }
    
    .icon {
      line-height: 0;
      
      &.__rotate {
        transform: rotate(180deg);
      }
      
      svg {
        width: 9px;
        height: 4px;
        fill: #7A8096;
      }
    }
  }
  
  .langs_dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 8px;
    box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1);
    
    &:before {
      top: 0;
      left: 15px;
      width: 10px;
      height: 10px;
      transform: rotate(45deg) translateX(-50%);
      content: "";
      background: #fff;
      position: absolute;
      pointer-events: none;
      z-index: 1;
      box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1);
    }
  }
  
  .langs_dropdown-list {
    background-color: #FFFFFF;
    border-radius: 3px;
    overflow: hidden;
    padding: 5px 0;
    position: relative;
    z-index: 2;
  }
  
  .langs_dropdown-item {
    padding: 10px 20px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: -0.24px;
    color: #7A8096;
    
    &:hover {
      color: #1F396E;
    }
    
    &.__selected {
      color: #1F396E;
      pointer-events: none;
    }
  }
  
  .place {
    position: relative;
  }
  
  .place_top {
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    &.__active {
      span {
        color: #1F396E;
      }
      
      .icon {
        transform: rotate(180deg);
        
        svg {
          fill: #1F396E;
        }
      }
    }
    
    &:hover {
      span {
        color: #1F396E;
      }
      
      .icon {
        svg {
          fill: #1F396E;
        }
      }
    }
    
    span {
      font-family: Arial, sans-serif;
      font-size: 15px;
      letter-spacing: -0.22px;
      color: #7A8096;
      margin-right: 7px;
    }
    
    .icon {
      line-height: 0;
      margin-right: 10px;
      padding-top: 2px;
      
      &.__rotate {
        transform: rotate(180deg);
      }
      
      svg {
        width: 12px;
        height: 12px;
        fill: #7A8096;
      }
    }
  }
  
  .place_dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 8px;
    box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1);
    
    &:before {
      top: 0;
      left: 15px;
      width: 10px;
      height: 10px;
      transform: rotate(45deg) translateX(-50%);
      content: "";
      background: #fff;
      position: absolute;
      pointer-events: none;
      z-index: 1;
      box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1);
    }
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  
  .link {
    padding: 5px 0;
    margin-left: 40px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    letter-spacing: -0.22px;
    color: #7A8096;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    outline: none;
    
    &:hover {
      color: #1F396E
    }
  }
  
  .user {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #E1E2E3;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    margin-left: 40px;
    
    svg {
      width: 15.7px;
      height: 17px;
      fill: #7A8096
    }
    
    
    img {
      width: 100%;
    }
  }
}
