//@import "../../../../../assets/scss/variables";

.wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
  
  &.__active {
    .box {
      //transform: translateY(0);
    }
    
    opacity: 1;
    visibility: visible;
  }
}

.tint {
  background: rgba(198, 200, 209, .7);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  //opacity: 0;
  //visibility: hidden;
  //transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 55px;
  height: 55px;
  z-index: 2;
  
  
  &:hover {
    &:before, &:after {
      background-color: #1C1D1F;
    }
  }
  
  &:before, &:after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 22px;
    height: 2px;
    background-color: #A3ACB3;
  }
  
  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
}

.box {
  position: relative;
  background: #FFFFFF;
  border-radius: 3px;
  overflow: hidden;
  padding: 25px 40px;
  max-width: 530px;
  width: 100%;
  z-index: 1001;
  max-height: 95%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 7px rgba(51, 55, 61, 0.15);
  transition: transform .2s ease-in-out;
  
  //transform: translateY(-15px);
  
  
  //background : #fff;
  //background : rgba(255, 255, 255, 1);
  //opacity: 0;
  //visibility: hidden;
  //transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
  
  //.svg-finger {
  //  z-index: 1;
  //  display: block;
  //  position: absolute;
  //  left: 80px;
  //  top: 20px;
  //  width: 215px;
  //  height: 279px;
  //  fill: #F7F7F7;
  //}
}

.head {
  font-family: Arial;
  font-weight: bold;
  font-size: 25px;
  line-height: 42px;
  letter-spacing: 0.13px;
  color: #2F384D;
  margin-bottom: 20px;
}

.content {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.error {
  position: absolute;
  top: 100%;
  right: 0;
  font-family: SourceSansPro;
  font-size: 13px;
  letter-spacing: 0.33px;
  color: #FF0000;
  //opacity: 0;
  //visibility: hidden;
}

.cols {
  display: flex;
  margin-bottom: 40px;
  width: 100%;
  
  .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    &.__inactive {
      //.input, .submit {
      //  opacity: .5;
      //  pointer-events: none !important;
      //}
    }
    
    &.__social {
      max-width: 140px;
      min-width: 140px;
      margin-right: 40px;
    }
  }
  
  .input, .submit {
    transition: opacity .2s ease-in-out;
  }
  
  .input {
    margin-bottom: 0;
    position: relative;
    
    input {
      padding: 0 20px;
      width: 100%;
      background: #F5F6F7;
      border-radius: 17px;
      height: 37px;
      
      font-family: Arial;
      font-size: 16px;
      color: #7A8096;
      border: 1px solid transparent;
      //box-sizing: content-box;
      //box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
      
      &:hover, &:focus {
        //box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
        border: 1px solid #22C4E0
      }
    }
  }
  
  .submit {
    position: relative;
    background-color: #C6C8D1;
    border-radius: 17px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    font-family: Arial;
    font-size: 16px;
    color: #FFFFFF;
    pointer-events: none;
    margin-top: 20px;
    
    &.__active {
      background-color: #22C4E0;
      pointer-events: auto;
      
      &:hover {
        background-color: #35D5F2;
      }
    }
    
    &.__load {
      pointer-events: none !important;
      background-color: #C6C8D1;
      
      .spinner {
        opacity: 1;
      }
      
      span {
        opacity: 0;
      }
    }
    
    .spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      opacity: 0;
    }
    
    .bubbles {
      position: relative;
      display: flex;
      justify-content: center;
      z-index: 0;
    }
    
    .bubble {
      display: inline-block;
      padding: 0px 5px;
      
      @for $i from 1 to 4 {
        &:nth-of-type(#{$i}) .circle {
          animation-delay: $i * 0.2s;
        }
      }
    }
    
    .bubble .circle {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #3A70CF;
      transform: scale(0);
      animation: pulse .8s infinite;
      //box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    }
    
    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(0.2);
        opacity: 0.75;
      }
      100% {
        transform: scale(1);
      }
    }
  }
  
  
  .social_btn {
    display: flex;
    align-items: center;
    width: 136px;
    height: 35px;
    padding: 0 20px;
    margin-bottom: 0;
    border-radius: 17px;
    overflow: hidden;
    margin-top: 20px;
    
    &:first-of-type {
      margin-top: 0;
    }
    
    //&:hover {
    //  span {
    //    color: #fff;
    //  }
    //
    //  svg {
    //    fill: rgba(255, 255, 255, 1)
    //  }
    //}
    
    &:last-of-type {
      margin-bottom: 0;
    }
    
    &.__fb {
      background-color: #5573B1;
    }
    
    &.__ggl {
      background-color: #E9594D;
    }
    
    &.__tw {
      background-color: #379DE4;
    }
    
    
    svg {
      fill: rgba(255, 255, 255, 1)
    }
    
    span {
      font-family: Arial;
      font-size: 16px;
      color: #FFFFFF;
    }
  }
  
  .icon {
    width: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
  }
  
  .svg-fb {
    width: 9.9px;
    height: 19px;
  }
  
  .svg-ggl {
    width: 18.6px;
    height: 19px;
  }
  
  .svg-tw {
    width: 19px;
    height: 15px;
  }
  
}

.switch_wrap {
  position: relative;
  display: flex;
  //align-items: center;
  margin-bottom: 0;
  
  app-checkbox {
    display: block;
    margin-right: 12px;
  }
  
  .switch_label {
    font-family: Arial;
    font-size: 15px;
    line-height: 18px;
    color: #7A8096;
    
    a {
      color: #1F396E;
      
      &:hover {
        color: #22C4E0
      }
      
      
    }
  }
}

.rools_link {
  font-family: 'SourceSansPro';
  font-size: 17px;
  color: #767D82;
  margin-bottom: 0;
  
  
  &:hover {
    color: #3A70CF;
  }
  
  &:last-of-type {
    margin-bottom: 0;
  }
}

//@media all and (max-width: 599px) {
//  .wrap {
//    //position: fixed;
//    //left: 0;
//    //right: 0;
//    //top: 0;
//    //bottom: 0;
//    //display: flex;
//    //justify-content: center;
//    //align-items: center;
//    //z-index: 1000;
//    //opacity: 0;
//    //visibility: hidden;
//    //transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
//
//    &.__active {
//      //opacity: 1;
//      //visibility: visible;
//    }
//  }
//
//  .tint {
//    //background: rgba(247, 247, 247, 0.7);
//    //position: fixed;
//    //left: 0;
//    //right: 0;
//    //top: 0;
//    //bottom: 0;
//    //z-index: 1000;
//    //opacity: 0;
//    //visibility: hidden;
//    //transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
//  }
//
//  .close {
//    //position: absolute;
//    //right: 0;
//    //top: 0;
//    //cursor: pointer;
//    //width: 55px;
//    //height: 55px;
//    //z-index: 2;
//
//
//    &:hover {
//      &:before, &:after {
//        //background-color: #1C1D1F;
//      }
//    }
//
//    &:before, &:after {
//      //display: block;
//      //content: '';
//      //position: absolute;
//      //left: 50%;
//      //top: 50%;
//      //width: 22px;
//      //height: 2px;
//      //background-color: #A3ACB3;
//    }
//
//    &:before {
//      //transform: translate(-50%, -50%) rotate(45deg);
//    }
//
//    &:after {
//      //transform: translate(-50%, -50%) rotate(-45deg);
//    }
//
//  }
//
//  .box {
//    //position: relative;
//    //background: #FFFFFF;
//    //border-radius: 3px;
//    //overflow: hidden;
//    padding: 22px 20px;
//    max-width: 310px;
//    //width: 100%;
//    //z-index: 1001;
//    //max-height: 95%;
//    //overflow: hidden;
//    //display: flex;
//    //flex-direction: column;
//    //box-shadow : 0px 4px 6px rgba(29, 54, 73, 0.1);
//    //opacity: 0;
//    //visibility: hidden;
//    //transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
//
//    .svg-finger {
//      //z-index: 1;
//      //display: block;
//      //position: absolute;
//      left: 50%;
//      transform: translateX(-50%);
//      //top: 20px;
//      //width: 215px;
//      //height: 279px;
//      //fill: #F7F7F7;
//    }
//  }
//
//  .head {
//    //font-family: 'SourceSansProSemiBold';
//    font-size: 25px;
//    letter-spacing: 0.13px;
//    //color: #AEB5BB;
//    margin-bottom: 22px;
//  }
//
//  .content {
//    //position: relative;
//    //z-index: 3;
//    //display: flex;
//    //flex-direction: column;
//    //justify-content: flex-start;
//    //align-items: flex-start;
//  }
//
//  .error {
//    //position: absolute;
//    //top: 100%;
//    //right: 0;
//    //font-family: SourceSansPro;
//    //font-size: 13px;
//    //letter-spacing: 0.33px;
//    //color: #FF0000;
//    //opacity: 0;
//    //visibility: hidden;
//  }
//
//  .cols {
//    //display: flex;
//    //margin-bottom: v_l(1200, 0);
//    //width: 100%;
//    flex-direction: column;
//    margin-bottom: 27px;
//
//    .col {
//      //flex: 1;
//      //display: flex;
//      //flex-direction: column;
//      //justify-content: flex-end;
//      margin-bottom: 30px;
//
//      &.__inactive {
//        //.input, .submit {
//        //  opacity: .5;
//        //  pointer-events: none !important;
//        //}
//      }
//
//      &.__social {
//        //max-width: 136px;
//        //min-width: 136px;
//        max-width: none;
//        display: flex;
//        align-items: center;
//        margin-left: 0;
//        flex-direction: row;
//        margin-bottom: 0;
//      }
//    }
//
//    .input, .submit {
//      //transition: opacity .2s ease-in-out;
//    }
//
//    .input {
//      //margin-bottom: v_md(1200, 0);
//      //position: relative;
//
//      input {
//        //padding: 0 10px;
//        //width: 100%;
//        //background: #FFFFFF;
//        //border-radius: 3px;
//        //height: 35px;
//        //
//        //font-family: 'SourceSansPro';
//        //font-size: 16px;
//        //color: #303233;
//        //box-shadow : 0px 1px 2px rgba(156, 168, 174, 0.2);
//
//        &:hover, &:focus {
//          //box-shadow : 0px 2px 4px rgba(156, 168, 174, 0.2);
//        }
//      }
//    }
//
//    .submit {
//      //position: relative;
//      //background-color: #A3ACB3;
//      //border-radius: 3px;
//      //width: 100%;
//      //display: flex;
//      //justify-content: center;
//      //align-items: center;
//      //height: 35px;
//      //font-family: 'SourceSansProSemiBold';
//      //font-size: 16px;
//      //color: #FFFFFF;
//      //pointer-events: none;
//
//      &.__active {
//        //background-color: #2053AB;
//        //pointer-events: auto;
//
//        &:hover {
//          //background-color: #3A70CF;
//        }
//      }
//
//      &.__load {
//        //pointer-events: none!important;
//        //background-color: #B2B7BF;
//        .spinner {
//          //opacity: 1;
//        }
//
//        span {
//          //opacity: 0;
//        }
//      }
//
//      .spinner {
//        //position: absolute;
//        //left: 50%;
//        //top: 50%;
//        //transform: translate(-50%, -50%);
//        //z-index: 1;
//        //opacity: 0;
//      }
//
//      .bubbles {
//        //position: relative;
//        //display: flex;
//        //justify-content: center;
//        //z-index: 0;
//      }
//
//      .bubble {
//        //display: inline-block;
//        //padding: 0px 5px;
//
//        @for $i from 1 to 4 {
//          &:nth-of-type(#{$i}) .circle {
//            //animation-delay: $i * 0.2s;
//          }
//        }
//      }
//
//      .bubble .circle {
//        //width: 6px;
//        //height: 6px;
//        //border-radius: 50%;
//        //background: #3A70CF;
//        //transform: scale(0);
//        //animation: pulse .8s infinite;
//        //box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
//      }
//
//      @keyframes pulse {
//        0% {
//          //transform: scale(1);
//        }
//        50% {
//          //transform: scale(0.2);
//          //opacity: 0.75;
//        }
//        100% {
//          //transform: scale(1);
//        }
//      }
//    }
//
//
//    .social_btn {
//      //display: flex;
//      //align-items: center;
//      justify-content: center;
//      width: auto;
//      flex: 1;
//      //height: 35px;
//      //padding: 0 18px;
//      margin-bottom: 0;
//      //border-radius: 3px;
//      //overflow: hidden;
//      &:nth-of-type(2) {
//        margin: 0 24px;
//      }
//
//      &:hover {
//        span {
//          //color: #fff;
//        }
//
//        svg {
//          //fill: rgba(255, 255, 255, 1)
//        }
//      }
//
//      &:last-of-type {
//        //margin-bottom: 0;
//      }
//
//      &.__fb {
//        //background-color: #4266B1;
//      }
//
//      &.__ggl {
//        //background-color: #E94335;
//      }
//
//      &.__tw {
//        //background-color: #1E93E4;
//      }
//
//
//      svg {
//        //fill: rgba(255, 255, 255, .85)
//      }
//
//      span {
//        display: none;
//        //font-family: 'SourceSansProSemiBold';
//        //font-size: 16px;
//        //color: #FFFFFF;
//        //color: rgba(255, 255, 255, .85);
//      }
//    }
//
//    .icon {
//      //width: 19px;
//      //display: flex;
//      //justify-content: center;
//      //align-items: center;
//      margin-right: 0;
//    }
//
//    .svg-fb {
//      //width: 9.9px;
//      //height: 19px;
//    }
//
//    .svg-ggl {
//      //width: 18.6px;
//      //height: 19px;
//    }
//
//    .svg-tw {
//      //width: 19px;
//      //height: 15px;
//    }
//
//  }
//
//  .switch_wrap {
//    //position: relative;
//    //display: flex;
//    align-items: flex-start;
//    //margin-bottom: 16px;
//    //width: 42px;
//
//    .switch {
//      //position: relative;
//      //display: inline-block;
//      min-width: 42px;
//      max-width: 42px;
//      height: 25px;
//      //margin-right: 12px;
//    }
//
//    /* Hide default HTML checkbox */
//    .switch input {
//      //opacity: 0;
//      //width: 0;
//      //height: 0;
//    }
//
//    /* The slider */
//    .slider {
//      //position: absolute;
//      //cursor: pointer;
//      //top: 0;
//      //left: 0;
//      //right: 0;
//      //bottom: 0;
//      //background-color: #A3ACB3;
//      //-webkit-transition: .4s;
//      //transition: .4s;
//    }
//
//    .slider:before {
//      //position: absolute;
//      //content: "";
//      height: 19px;
//      width: 19px;
//      left: 4px;
//      bottom: 3px;
//      //background-color: white;
//      //-webkit-transition: .4s;
//      //transition: .4s;
//    }
//
//    input:checked + .slider {
//      //background-color: #30BF3C;
//    }
//
//    input:focus + .slider {
//      //box-shadow: 0 0 1px #30BF3C;
//    }
//
//    input:checked + .slider:before {
//      transform: translateX(16px);
//    }
//
//    /* Rounded sliders */
//    .slider.round {
//      //border-radius: 34px;
//    }
//
//    .slider.round:before {
//      //border-radius: 50%;
//    }
//
//    .switch_label {
//      //font-family: 'SourceSansPro';
//      font-size: 16px;
//      line-height: 19px;
//      //color: #303233;
//    }
//  }
//
//  .rools_link {
//    //font-family: 'SourceSansPro';
//    //font-size: 17px;
//    //color: #767D82;
//    //margin-bottom: v_xs(1200, 8);
//
//
//    &:hover {
//      //color: #3A70CF;
//    }
//
//    &:last-of-type {
//      //margin-bottom: 0;
//    }
//  }
//}

