<div class="box">
  <div class="top">
    <div class="label">Ваш город</div>
    <input type="text" [(ngModel)]="value" placeholder="Поиск" (ngModelChange)="search()" #searchEl/>
  </div>
  <div class="list" [perfectScrollbar]="{wheelPropagation:false}">
    <div class="list_item" *ngFor="let item of list" (click)="change(item)">{{item[key]}}</div>
  </div>
</div>
