.box {
  padding: 16px 0;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  z-index: 3;
  position: relative;
  //box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1);
  width: 300px;
  
  .top {
    padding: 0 15px;
    margin-bottom: 10px;
  }
  
  .label {
    margin-bottom: 6px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    letter-spacing: -0.19px;
    color: #A7ADBC;
  }
  
  input {
    height: 40px;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: -0.24px;
    color: #7A8096;
    background-color: #F5F6F7;
    border-radius: 20px;
    padding: 0 20px;
  }
  
  .list {
    max-height: 200px;
    position: relative;
    padding-right: 15px;
    
  }
  
  .list_item {
    padding: 12px 0 12px 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: -0.24px;
    color: #7A8096;
    cursor: pointer;
    
    &:hover {
      color: #1F396E
    }
  }
}
