<div class="box">
  <div class="selects">
    <div class="inp" appClickOutside (clickOutside)="filter.d_isOpen = false" *ngFor="let filter of filters" [class.__vertical]="filter.isProp || filter.slug === 'actions'">
      <ng-container *ngIf="filter.slug === 'actions'">
        <div class="inp_top" (click)="filter.d_isOpen = !filter.d_isOpen">
          <span class="current_value" [class.__placeholder]="!filter.value">{{filter.title}}</span>
          <div class="icon" [class.__rotate]="filter.d_isOpen">
            <svg class="svg-arrow">
              <use xlink:href="#arrow-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
        <div class="dropdown __small" [hidden]="!filter.d_isOpen">
          <div class="row_item">
            <div class="label">{{filter.placeholder}}</div>
            <app-form-radio-multi-line *ngIf="filter.type === 'radio'" main="true" [values]="filter.items" (valueChange)="changeAction(filter, $event)"></app-form-radio-multi-line>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="filter.slug === 'objects'">
        <div class="inp_top" (click)="filter.d_isOpen = !filter.d_isOpen">
          <span class="current_value" [class.__placeholder]="!filter.value">{{filter.title}}</span>
          <div class="icon" [class.__rotate]="filter.d_isOpen">
            <svg class="svg-arrow">
              <use xlink:href="#arrow-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
        <div class="dropdown" [hidden]="!filter.d_isOpen">
          <div class="row_item" *ngFor="let row of filter.items">
            <div class="label">{{row.placeholder}}</div>
            <app-form-radio-multi-line *ngIf="row.type === 'checkbox_one'" main="true" [values]="row.items" (valueChange)="changeObject($event, row, filter)"></app-form-radio-multi-line>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="filter.slug !== 'objects' && filter.type === 'checkbox'">
        <div class="inp_top" (click)="filter.d_isOpen = !filter.d_isOpen">
          <span class="current_value" [class.__placeholder]="!filter.value">{{filter.title}}</span>
          <div class="icon" [class.__rotate]="filter.d_isOpen">
            <svg class="svg-arrow">
              <use xlink:href="#arrow-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
        <div class="dropdown" [hidden]="!filter.d_isOpen">
          <div class="row_item">
            <div class="label">{{filter.placeholder}}</div>
            <app-form-checkbox [values]="filter.items" (valueChange)="changeCheckbox($event,filter)"></app-form-checkbox>

            <!--        <ng-container *ngIf="filter.type === 'radio'">-->
            <!--          &lt;!&ndash;        <app-form-radio [values]="filter.values"></app-form-radio>&ndash;&gt;-->
            <!--        </ng-container>-->
            <!--        <ng-container *ngIf="filter.type === 'checkbox'">-->
            <!--          <app-form-checkbox [values]="filter.values"></app-form-checkbox>-->
            <!--        </ng-container>-->
            <!--        <ng-container *ngIf="filter.type === 'range'">-->
            <!--          <div class="range">-->
            <!--            <app-form-input-number [label]="'от'"></app-form-input-number>-->
            <!--            <app-form-input-number [label]="'до'"></app-form-input-number>-->
            <!--          </div>-->
            <!--        </ng-container>-->
          </div>
        </div>
      </ng-container>
      <!--      <ng-container *ngIf="filter.slug !== 'objects' && filter.type === 'int'">-->
      <!--        <div class="inp_top" (click)="filter.d_isOpen = !filter.d_isOpen">-->
      <!--          <app-form-input-number [value]="filter.value" [placeholder]="filter.placeholder" [width]="'71px'" [align]="'left'" (valueChange)="filter.value = $event"></app-form-input-number>-->
      <!--          <div class="unit">{{filter.unit}}</div>-->
      <!--        </div>-->
      <!--      </ng-container>-->

      <ng-container *ngIf="filter.slug !== 'objects' && filter.type === 'int'">
        <div class="inp_top" (click)="filter.d_isOpen = !filter.d_isOpen">
          <span class="int_prefix" *ngIf="filter.prefix">{{filter.prefix}}</span>
          <app-form-input-number [value]="filter.value" [placeholder]="filter.placeholder" [width]="'100px'" [align]="'left'" (valueChange)="filter.value = $event; getCount()"></app-form-input-number>
          <div class="unit">
            <span class="unit_normal" *ngIf="filter.unit.normal">{{filter.unit.normal}}</span>
            <span class="unit_super" *ngIf="filter.unit.superscript">{{filter.unit.superscript}}</span>
          </div>
        </div>
      </ng-container>


      <!--      <div class="place_dropdown" *ngIf="isPlaceDropdown">-->
      <!--        <app-dropdown-with-search [url]="'/cities/dict'" [open]="isPlaceDropdown" (changeValue)="place = $event; closePlaceDropdown()" (closeDropdown)="closePlaceDropdown()"></app-dropdown-with-search>-->
      <!--      </div>-->
    </div>

    <div class="inp __place" appClickOutside (clickOutside)="place.isOpen = false">
      <div class="inp_top" (click)="place.isOpen = !place.isOpen">
        <span class="current_value">{{place.name}}</span>
        <div class="icon">
          <svg class="svg-arrow">
            <use xlink:href="#arrow-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
      <div class="place_dropdown __placeDropdown" *ngIf="place.isOpen">
        <app-dropdown-with-search [url]="'/city/dict'" [key]="'fullname'" [open]="place.isOpen" (changeValue)=" changePlace($event)" (closeDropdown)="place.isOpen = false"></app-dropdown-with-search>
      </div>


    </div>

    <div class="inp __small">
      <div class="inp_top" (click)="showMoreFilters()">
        <span>еще</span>
        <div class="icon" [class.__rotate]="moreBtn">
          <svg class="svg-arrow">
            <use xlink:href="#arrow-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
    </div>
    <!--    <div class="inp" appClickOutside (clickOutside)="isPlaceDropdown = false">-->
    <!--      <div class="inp_top" (click)="isPlaceDropdown = !isPlaceDropdown">-->
    <!--        <span>{{place[lang.get() === 'uk' ? 'ua' : 'ru']}}</span>-->
    <!--        <div class="icon">-->
    <!--          <svg class="svg-arrow">-->
    <!--            <use xlink:href="#arrow-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
    <!--          </svg>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div class="place_dropdown" *ngIf="isPlaceDropdown">-->
    <!--        <app-dropdown-with-search [url]="'/city/dict'" [key]="lang.get() === 'uk' ? 'ua' : 'ru'" [open]="isPlaceDropdown" (changeValue)=" closePlaceDropdown($event)" (closeDropdown)="closePlaceDropdown()"></app-dropdown-with-search>-->
    <!--      </div>-->


    <!--    </div>-->
  </div>
  <button type="button" class="searchBtn" (click)="showResults.emit(moreFilters)">
    <svg class="svg-arrow-2">
      <use xlink:href="#arrow-2" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </button>
</div>
<app-filters *ngIf="moreBtn" [mainFilters]="filters" [setFilters]="moreFilters" [data]="data" (close)="moreBtn = false" (showResults)="showResults.emit(moreFilters)"></app-filters>
