<div class="list">
  <!--  <div class="item">-->
  <div class="item" *ngFor="let item of list">
    <div class="icon">
      <svg [attr.class]="'svg-facilities-' + item.icon">
        <use [attr.xlink:href]="'#facilities-' + item.icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
    <span>{{item.value}}</span>
  </div>
  <!--  <div class="item">-->
  <!--    <div class="icon">-->
  <!--      <svg class="svg-facilities-kitchen-furn">-->
  <!--        <use xlink:href="#facilities-kitchen-furn" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
  <!--      </svg>-->
  <!--    </div>-->
  <!--    <span>мебель на кухни</span>-->
  <!--  </div>-->
  <!--  <div class="item">-->
  <!--    <div class="icon">-->
  <!--      <svg class="svg-facilities-fridge">-->
  <!--        <use xlink:href="#facilities-fridge" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
  <!--      </svg>-->
  <!--    </div>-->
  <!--    <span>холодильник</span>-->
  <!--  </div>-->
  <!--  <div class="item">-->
  <!--    <div class="icon">-->
  <!--      <svg class="svg-facilities-washer">-->
  <!--        <use xlink:href="#facilities-washer" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
  <!--      </svg>-->
  <!--    </div>-->
  <!--    <span>стир. машина</span>-->
  <!--  </div>-->
  <!--  <div class="item">-->
  <!--    <div class="icon">-->
  <!--      <svg class="svg-facilities-dishwasher">-->
  <!--        <use xlink:href="#facilities-dishwasher" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
  <!--      </svg>-->
  <!--    </div>-->
  <!--    <span>посуд. машина</span>-->
  <!--  </div>-->
  <!--  <div class="item">-->
  <!--    <div class="icon">-->
  <!--      <svg class="svg-facilities-tw">-->
  <!--        <use xlink:href="#facilities-tw" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
  <!--      </svg>-->
  <!--    </div>-->
  <!--    <span>телевизор</span>-->
  <!--  </div>-->
  <!--  <div class="item">-->
  <!--    <div class="icon">-->
  <!--      <svg class="svg-facilities-conditioner">-->
  <!--        <use xlink:href="#facilities-conditioner" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
  <!--      </svg>-->
  <!--    </div>-->
  <!--    <span>кондиционер</span>-->
  <!--  </div>-->
  <!--  <div class="item">-->
  <!--    <div class="icon">-->
  <!--      <svg class="svg-facilities-vac">-->
  <!--        <use xlink:href="#facilities-vac" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
  <!--      </svg>-->
  <!--    </div>-->
  <!--    <span>пылесос</span>-->
  <!--  </div>-->
  <!--  <div class="item">-->
  <!--    <div class="icon">-->
  <!--      <svg class="svg-facilities-iron">-->
  <!--        <use xlink:href="#facilities-iron" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
  <!--      </svg>-->
  <!--    </div>-->
  <!--    <span>утюг</span>-->
  <!--  </div>-->
  <!--  <div class="item">-->
  <!--    <div class="icon">-->
  <!--      <svg class="svg-facilities-bath">-->
  <!--        <use xlink:href="#facilities-bath" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
  <!--      </svg>-->
  <!--    </div>-->
  <!--    <span>ванна</span>-->
  <!--  </div>-->
  <!--  <div class="item">-->
  <!--    <div class="icon">-->
  <!--      <svg class="svg-facilities-service_lift">-->
  <!--        <use xlink:href="#facilities-service_lift" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
  <!--      </svg>-->
  <!--    </div>-->
  <!--    <span>груз. лифт</span>-->
  <!--  </div>-->
  <!--  <div class="item">-->
  <!--    <div class="icon">-->
  <!--      <svg class="svg-facilities-elevator">-->
  <!--        <use xlink:href="#facilities-elevator" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
  <!--      </svg>-->
  <!--    </div>-->
  <!--    <span>лифт</span>-->
  <!--  </div>-->
</div>
