.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  .item {
    display: flex;
    align-items: center;
    margin-top: 22px;
    width: 33%;
    
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3) {
      margin-top: 0;
    }
  }
  
  .icon {
    width: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  span {
    font-family: Arial;
    font-size: 14px;
    color: #474D59;
  }
  
  svg {
    fill: #AEB6C9;
  }
  
  .svg-facilities-furn {
    width: 31px;
    height: 21px;
  }
  
  .svg-facilities-kitchen-furn {
    width: 31px;
    height: 16px;
  }
  
  .svg-facilities-fridge{
    width: 15px;
    height: 26px;
  }
  
  .svg-facilities-washer {
    width: 22px;
    height: 26px;
  }
  
  .svg-facilities-dishwasher {
    width: 22px;
    height: 26px;
  }
  
  .svg-facilities-tv {
    width: 28px;
    height: 26px;
  }
  
  
  
  .svg-facilities-conditioner {
    width: 23px;
    height: 26px;
  }
  
  .svg-facilities-vac {
    width: 31px;
    height: 26px;
  }
  
  .svg-facilities-iron {
    width: 36px;
    height: 16px;
  }
  
  .svg-facilities-bath{
    width: 26px;
    height: 26px;
  }
  
  .svg-facilities-service_lift {
    width: 31px;
    height: 20px;
  }
  
  .svg-facilities-elevator {
    width: 29px;
    height: 26px;
  }
  
  
}
