<div class="app">
  <app-header></app-header>
  <app-top-navigation></app-top-navigation>
  <!--  <div class="content" [class.__isBrowser]="!platform.check()">-->
  <!--&lt;!&ndash;        <app-page-preloader [class.__show]="isPreloader"></app-page-preloader>&ndash;&gt;-->
  <!--    <router-outlet (deactivate)="closeMainMenu()"></router-outlet>-->
  <!--  </div>-->

  <div class="content" [@routeAnimation]="o.isActivated ? o.activatedRoute : ''">
    <app-page-preloader></app-page-preloader>
    <router-outlet #o="outlet" (deactivate)="routeChange()"></router-outlet>
  </div>
  <app-footer></app-footer>
  <router-outlet name="modals"></router-outlet>
  <app-app-notifications></app-app-notifications>
</div>
