.list {
  display: flex;
  align-items: center;
  
  
  .item {
    padding: 5px;
    cursor: pointer;
  
    font-family : Arial;
    font-size : 16px;
    letter-spacing : -0.24px;
    color : #7A8096;
    margin-right: 20px;
    
    &:hover {
      color: #1F396E;
    }
    
    &.__active {
      color: #22C4E0;
      pointer-events: none;
    }
    
    &.__disabled {
      color: #AEB6C9;
      pointer-events: none;
    }
  }
}
