.box {
  border-radius: 17px;
  overflow: hidden;
  background: rgba(132, 136, 150, .9);
  display: flex;
  position: relative;
  
  .item {
    height: 35px;
    padding: 0 22px;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: -0.24px;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 2;
    position: relative;
    user-select: none;
    opacity: 0.85;
    padding-bottom: 2px;
    &:hover {
      opacity: 1;
    }
    &.__active {
      opacity: 1;
      pointer-events: none;
    }
    
  }
  
  .layout {
    position: absolute;
    top: 0;
    height: 35px;
    background-color: #22C4E0;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;
    border-radius: 17px;
    transition: width .5s ease-in-out, left .5s ease-in-out;
    will-change: width, left;
  }
}

//background : #848896;
//background : rgba(132, 136, 150, 1);
//opacity : 0.9;
//border-radius : 17px;
//-moz-border-radius : 17px;
//-webkit-border-radius : 17px;
//filter: alpha(opacity=90) progid:DXImageTransform.Microsoft.Alpha(opacity=90) ;
