<div class="box" #boxEl>
  <div class="item" (click)="checkSelected(i)" [class.__active]="btn.selected" *ngFor="let btn of btns; let i = index" #btnEl>{{btn.name}}</div>
  <div class="layout" #layoutEl></div>
</div>
