<div class="box" appClickOutside (clickOutside)="close()">
  <div class="top" [style.width]="width" (click)="isOpen = !isOpen">
    <div class="label">{{value ? value : 'Выберите'}}</div>
    <svg class="svg-arrow">
      <use xlink:href="#arrow-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <!--    <input type="text" [(ngModel)]="value" placeholder="Поиск" (ngModelChange)="search()"/>-->
  </div>
  <div class="list" *ngIf="isOpen" [perfectScrollbar]="{wheelPropagation:false}">
    <div class="list_item" *ngFor="let item of list" (click)="change(item)">{{item[key]}}</div>
  </div>
</div>
