//@import "~src/assets/scss/_mixins";
//:host {
//  input {
//    height: 30px;
//    padding: 0 22px 2px;
//    border-radius: 15px;
//    width: 71px;
//    background-color: #fff;
//    border: 1px solid transparent;
//    font-family: Arial, sans-serif;
//    font-size : 15px;
//    color : #7A8096;
//    //padding: 12px 20px;
//    border: 1px solid transparent!important;
//    width: 350px!important;
//    &.__label {
//      padding-left: 30px;
//    }
//
//    @include placeholder {
//      font-family: Arial, sans-serif;
//      font-size: 13px;
//      color: #AEB6C9;
//      opacity: 1;
//    }
//
//    &:focus {
//      border: 1px solid #22C4E0;
//    }
//  }
//}

.box {
  //padding: 16px 0;
  //border-radius: 3px;
  //overflow: hidden;
 
  z-index: 5;
  position: relative;
  //box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1);
  //box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1);
  //overflow: hidden;
  
  
  .top {
    background-color: #fff;
    padding: 0 30px 0 15px;
    //width: 210px;
    height: 30px;
    border-radius: 15px;
    //margin-bottom: 10px;
    display: flex;
    align-items: center;
    //height: 100%;
    cursor: pointer;
    overflow: hidden;
    
  }
  
  .svg-arrow {
    width: 10px;
    height: 5px;
    fill: #AEB6C9;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .label {
    //margin-bottom: 6px;
    font-family: Arial;
    font-size: 14px;
    color: #7A8096;
  }
  
  input {
    height: 40px;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: -0.24px;
    color: #7A8096;
    background-color: #F5F6F7;
    border-radius: 20px;
    padding: 0 20px;
  }
  
  .list {
    max-height: 200px;
    position: relative;
    padding-right: 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 3px;
    overflow: hidden;
    border-radius: 3px;
    background-color: #fff;
  }
  
  .list_item {
    padding: 12px 0 12px 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: -0.24px;
    color: #7A8096;
    cursor: pointer;
    
    &:hover {
      color: #1F396E
    }
  }
}
