<!-- Slider main container -->
<div class="box" *ngIf="data?.items && data?.items.length">
  <div class="swiper-container" #swiper>
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let slide of data.items"><img [src]="data.path.md + slide" alt=""></div>
    </div>
    <div class="button-prev" #btnPrev>
      <svg class="svg-swiper-arrow">
        <use xlink:href="#swiper-arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
    <div class="button-next" #btnNext>
      <svg class="svg-swiper-arrow">
        <use xlink:href="#swiper-arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
  </div>
  <div class="nav">
    <div class="id">id 3524871</div>
    <div class="current">{{currnetIndex}}/{{data.items.length}}</div>
    <div class="btns">
      <div class="btn">
        <svg class="svg-bookmarks">
          <use xlink:href="#bookmarks" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <span>В закладки</span>
      </div>
      <div class="btn">
        <svg class="svg-marker">
          <use xlink:href="#marker" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <span>На карте</span>
      </div>
    </div>
  </div>
</div>

