//@import "~assets/scss/mixins";
@import "~src/assets/scss/_mixins";
:host {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

input {
  height: 30px;
  padding: 0 22px 2px;
  border-radius: 15px;
  width: 71px;
  background-color: #fff;
  border: 1px solid transparent;
  font-family: Arial, sans-serif;
  font-size : 15px;
  color : #7A8096;
  
  &.__label {
    padding-left: 30px;
  }
  
  @include placeholder {
    font-family: Arial, sans-serif;
    font-size : 15px;
    color: #AEB6C9;
    opacity: 1;
  }
  
  &:focus {
    border: 1px solid #22C4E0;
  }
}

.label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #AEB6C9;
  pointer-events: none;
}
