.box {
  background-color: #F5F6F7;
  border-radius: 3px;
  padding: 16px 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  
  .term {
    font-family: Arial;
    font-size: 20px;
    letter-spacing: -0.3px;
    color: #2F384D;
    margin-bottom: 16px;
  }
  
  .price_box {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    
    .price {
      font-family: Arial;
      font-weight: bold;
      font-size: 30px;
      letter-spacing: -0.45px;
      color: #2F384D;
      margin-right: 5px;
    }
    
    .units {
      font-family: Arial;
      font-size: 20px;
      letter-spacing: -0.3px;
      color: #2F384D;
    }
  }
  
  .descr {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    span {
      font-family: Arial;
      font-size: 15px;
      letter-spacing: -0.22px;
      color: #A7ADBC;
    }
  }
  
  .phone {
    display: flex;
    align-items: center;
    //margin-left: 24px;
    height: 35px;
    background-color: #22C4E0;
    overflow: hidden;
    padding: 0 20px;
    border-radius: 17px;
    cursor: pointer;
    padding-bottom: 2px;
    
    &:hover {
      background-color: #35D5F2;
    }
    
    svg {
      width: 9px;
      height: 9px;
      fill: #fff;
      margin-right: 11px;
    }
    
    span {
      font-family: Arial, sans-serif;
      font-size: 16px;
      letter-spacing: -0.24px;
      color: #FFFFFF;
    }
  }
}
