<div class="box">
  <div class="term">{{ad.action}}</div>
  <div class="price_box" ngif>
    <span class="price">{{ad.price?.value}}</span>
    <span class="units">{{ad.price?.unit.normal}}</span>
  </div>
  <div class="descr">
    <span>10% комиссии единоразово</span>
    <span>Комм. платежи включены (без счётчиков)</span>
  </div>
  <a [href]="(!ad.check_phone ? 'javascript:void(0);' : 'tel:' + ad.phone) | phone" class="phone" (click)="getPhone()">
    <span>{{ad.phone}}</span>
  </a>
</div>
