@import "assets/scss/reset";
@import "assets/scss/blank";
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  position: relative;
  height: 100%;
}

[hidden] {
  display: none !important;
}

//h1 {
//  font-size: 48px;
//  padding-top: 150px;
//}


body {
  min-height: 100%;
  overflow-y: scroll;
}

.ps__rail-y, .ps__rail-x {
  background-color: transparent !important;
}

.ps__rail-y {
  width: 4px !important;
}


.ps__thumb-y {
  background-color: #7A8096 !important;
  width: 4px !important;
  right: 0 !important;
}

.ps__thumb-x {
  background-color: #7A8096 !important;
  height: 4px !important;
}


.container {
  max-width: 1040px;
  margin: 0 auto;
  width: 100%;
}

//
//.page {
//  display: flex;
//  flex-direction: column;
//
//  .container {
//    flex: 1;
//  }
//}


