.box {
  border-radius: 17px;
  overflow: hidden;
  background: #fff;
  display: flex;
  position: relative;
  
  .item {
    height: 30px;
    padding: 0 22px;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: -0.24px;
    color: #7A8096;
    cursor: pointer;
    z-index: 2;
    position: relative;
    user-select: none;
    opacity: 0.85;
    padding-bottom: 2px;
    &:hover {
      opacity: 1;
      color: #1F396E;
    }
    &.__active {
      opacity: 1;
      pointer-events: none;
      color: #fff;
      background-color: #22C4E0;
      z-index: 1;
      pointer-events: none;
      overflow: hidden;
      border-radius: 17px;
    }
  }
}
