.box {
  height: 93px;
  width: 100%;
  
  
  .container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    line-height: 0;
    
    &:hover {
      svg {
        fill: #35D5F2
      }
    }
    
    svg {
      width: 145px;
      height: 35px;
      fill: #22C4E0;
    }
  }
  
  .nav {
    display: flex;
    align-items: center;
    
    .link {
      position: relative;
      padding: 5px;
      font-family: Arial, sans-serif;
      font-size: 17px;
      letter-spacing: -0.25px;
      color: #1F396E;
      margin: 0 16px;
      
      &:hover {
        color: #22C4E0;
      }
      
      &.__selected {
        color: #22C4E0;
        pointer-events: none;
        
        &:before {
          display: block;
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          margin-top: 6px;
          background-color: #22C4E0;
          height: 1px;
          border-radius: 2px;
          width: 18px;
        }
        
      }
    }
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  
  .bookmarks {
    display: flex;
    align-items: center;
    padding: 3px;
    cursor: pointer;
    
    &:hover {
      svg {
        fill: #A0A7B8;
      }
      
      span {
        color: #A0A7B8;
      }
    }
    
    svg {
      width: 15px;
      height: 20px;
      fill: #AEB6C9;
    }
    
    span {
      margin-left: 7px;
      font-family: Arial, sans-serif;
      font-size: 12px;
      letter-spacing: -0.18px;
      color: #AEB6C9;
    }
  }
  
  .add {
    display: flex;
    align-items: center;
    margin-left: 24px;
    height: 35px;
    background-color: #22C4E0;
    overflow: hidden;
    padding: 0 20px;
    border-radius: 17px;
    cursor: pointer;
    padding-bottom: 2px;
    &:hover {
      background-color: #35D5F2;
    }
    
    svg {
      width: 9px;
      height: 9px;
      fill: #fff;
      margin-right: 11px;
    }
    
    span {
      font-family: Arial, sans-serif;
      font-size: 16px;
      letter-spacing: -0.24px;
      color: #FFFFFF;
    }
  }
}
