<div class="box">
  <div class="container">
    <a href="" class="logo" [routerLink]="['/']">
      <svg class="svg-logo">
        <use xlink:href="#logo-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>
    <div class="nav">
      <a href="" class="link"
         [routerLink]="[link.url]"
         *ngFor="let link of list"
         [routerLinkActive]="'__selected'">{{link.name}}</a>
<!--      <a href="" class="link" [routerLink]="['/rent']" routerLinkActive="__selected">Аренда</a>-->
<!--      <a href="" class="link" [routerLink]="['/commercial']" routerLinkActive="__selected">Коммерческая</a>-->
    </div>
    <div class="right">
      <div class="bookmarks">
        <svg class="svg-bookmarks">
          <use xlink:href="#bookmarks" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <span>3</span>
      </div>
      <a href="" routerLink="/add" class="add">
        <svg class="svg-plus">
          <use xlink:href="#plus" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <span>Объявление</span>
      </a>
    </div>
  </div>
</div>
