<div class="imgs_wrap" *ngIf="imgs && imgs.length" [perfectScrollbar]="{wheelPropagation:false}">
  <div class="imgs" cdkDropListOrientation="horizontal" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="img" *ngFor="let slide of imgs | orderBy" cdkDrag>
      <!--      <img src="/assets/img/main-list-photo.jpg" alt="">-->
      <img [src]="slide.img | safeUrl" alt="">
      <div class="tint">
        <div class="del" (click)="deleteSlide(slide)">
          <svg class="svg-basket">
            <use xlink:href="#basket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box">
  <div class="top">
    <label> <input type="file" multiple (change)="getPhoto($event)"/> </label>
    <div class="cover">
      <div class="tooltip">
        <svg class="svg-camera">
          <use [attr.xlink:href]="'#camera'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <div class="text">Добавить<br>фото</div>
      </div>
    </div>
    <!--    <div class="img" *ngIf="img">-->
    <!--      <div class="img_tint"></div>-->
    <!--      <img [src]="img | safeUrl" alt="image">-->
    <!--    </div>-->
  </div>
</div>
<div class="error" *ngIf="error">{{error}}</div>
