:host {
  display: block;
  //margin-top: 22px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.imgs_wrap {
  position: relative;
  padding-bottom: 12px;
  margin-right: 20px;
  overflow: hidden;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  
  //.icon {
  //  position: absolute;
  //  right: 0;
  //  top: 0;
  //  padding: 5px;
  //}
  //.svg-basket {
  //  width: 10px!important;
  //  height: 10px!important;
  //  fill: #fff!important;
  //}
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.imgs.cdk-drop-list-dragging .img:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.imgs {
  display: flex;
  flex-wrap: nowrap;
  //overflow: hidden;
  align-items: center;
  //position: relative;
  
  .img {
    max-height: 100px;
    max-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    //margin-bottom: 10px;
    width: auto;
    height: auto;
    flex: 1 0 auto;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    
    &:last-of-type {
      margin-right: 0;
    }
    
    &:hover {
      .tint {
        opacity: 1;
      }
    }
    
    .tint {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      padding: 15px;
      background-color: rgba(69, 71, 77, .8);
      opacity: 0;
      transition: opacity .15s ease-in-out;
      display: flex;
      justify-content: flex-end;
      .del {
        padding: 5px;
      }
      svg {
        width: 10px;
        height: 10px;
        fill: #fff;
      }
    }
    
    img {
      max-width: 100%;
      max-height: 100%;
      max-height: 100px;
      max-width: 180px;
    }
  }
}

.box {
  display: flex;
  flex-direction: column;
  //width: 100%;
  //height: 100%;
  min-width: 160px;
  max-width: 160px;
  height: 100px;
  align-items: flex-end;
}

.top {
  position: relative;
  //margin-bottom: 6px;
  width: 100%;
  overflow: hidden;
  //height: 100%;
  
  &:hover {
    .img {
      .img_tint {
        opacity: 1;
      }
    }
  }
  
  label {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    //border-radius: 50%;
    overflow: hidden;
  }
  
  input {
    display: none;
  }
}

.cover {
  //background-color: #E6E8EB;
  overflow: hidden;
  border-radius: 3px;
  //height: 140px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  //border-radius: 50%;
  overflow: hidden;
  border: 2px dashed #C5CEE4;
  
  
  &:hover {
    .tooltip {
      svg {
        fill: #303233
      }
      
      .text {
        color: #303233;
      }
    }
    
  }
  
}

.tooltip {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  padding: 15px 0;
  
  svg {
    width: 30px;
    height: 24px;
    fill: #7A8096;
  }
  
  .text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    letter-spacing: -0.21px;
    color: #7A8096;
    text-align: center;
    margin-top: 10px;
  }
}

.img {
  position: relative;
  line-height: 0;
  //border-radius: 50%;
  overflow: hidden;
  height: 100%;
  width: 100%;
  
  .img_tint {
    //position: absolute;
    //left: 0;
    //right: 0;
    //top: 0;
    //bottom: 0;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //z-index: 9;
    //background-color: rgba(28, 29, 31, .7);
    //opacity: 0;
    //transition: opacity .15s ease-in-out;
  }
  
  .tooltip {
    svg {
      fill: #fff;
    }
    
    .text {
      color: #fff;
    }
  }
  
  img {
    //position: absolute;
    //left: 50%;
    //top: 50%;
    //transform: translate(-50%, -50%);
  }
}


.error {
  position: absolute;
  right: 0;
  bottom: -10px;
  transform: translateY(50%);
  font-family: 'SourceSansPro';
  font-size: 14px;
  letter-spacing: 0.35px;
  color: #FF0000;
  z-index: 100;
  background-color: #F7F7F7;
  padding: 3px 10px;
}

