<div class="box" [class.__photo]="photo">
  <div class="photo_wrap" *ngIf="photo">
    <div class="photo">
      <img [src]="photo" alt="">
    </div>
  </div>
  <div class="list">
    <a href="" class="item" *ngFor="let link of list">
      <span class="title">{{link.title}}</span>
      <span class="count">123</span>
    </a>
  </div>
</div>
