.box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  
  &.__photo {
    padding-left: 360px;
    min-height: 200px;
  
    .item {
      //padding: 5px;
      //display: flex;
      //flex-direction: column;
      //justify-content: flex-start;
      //align-items: flex-start;
      ////flex-basis: 25% ;
      ////min-width: 25%;
      ////max-width: 25%;
      //padding-right: 15px;
      flex: 0 0 25%;
      //margin-bottom: 15px;
      //margin-top: 8px;
  
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4) {
        margin-top: 0;
      }
      &:nth-of-type(5){
        margin-top: 8px;
      }
      //
      //&:hover {
      //  .title {
      //    color: #22C4E0
      //  }
      //}
    }
  }
  
  .photo_wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    //height: 100%;
    //min-height: 100%;
    //flex: 1 0 auto;
    width: 320px;
    overflow: hidden;
  }
  
  .photo {
    width: 100%;
    height: 100%;
    position: relative;
    //position: relative;
    //margin-right: 40px;
    overflow: hidden;
    
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      width: auto;
      height: auto;
      min-height: 100%;
      min-width: 100%;
      max-height: none;
      max-width: none;
      transform: translate(-50%, -50%);
    }
  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
  
  .item {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    //flex-basis: 25% ;
    //min-width: 25%;
    //max-width: 25%;
    padding-right: 15px;
    flex: 0 0 20%;
    //margin-bottom: 15px;
    margin-top: 8px;
    
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5){
      margin-top: 0;
    }
    
    &:hover {
      .title {
        color: #22C4E0
      }
    }
  }
  
  .title {
    font-family: Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: -0.25px;
    color: #3B414D;
    margin-bottom: 3px;
  }
  
  .count {
    font-family: Arial, sans-serif;
    font-size: 14px;
    //line-height : 26px;
    letter-spacing: -0.21px;
    color: #AEB6C9;
  }
  
}
