
@import "~src/assets/scss/_mixins";
:host {
  input {
    height: 30px;
    padding: 0 22px 2px!important;
    border-radius: 15px;
    width: 71px;
    background-color: #fff;
    border: 1px solid transparent;
    font-family: Arial, sans-serif;
    font-size : 15px;
    color : #7A8096;
    //padding: 12px 20px;
    border: 1px solid transparent!important;
    width: 350px!important;
    &.__label {
      padding-left: 30px;
    }
    
    @include placeholder {
      font-family: Arial, sans-serif;
      font-size: 13px;
      color: #AEB6C9;
      opacity: 1;
    }
    
    &:focus {
      border: 1px solid #22C4E0;
    }
  }
}

