.list {
  display: flex;
  
  .col {
    flex: 1;
  }
  .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 18px;
    &:nth-of-type(1) {
      margin-top: 0;
    }
  }
  
  .label {
    font-family: Arial;
    font-size: 14px;
    letter-spacing: -0.21px;
    color: #AEB6C9;
    margin-bottom: 8px;
  }
  
  .value {
    font-family: Arial;
    font-size: 20px;
    letter-spacing: -0.3px;
    color: #474D59;
  }
}

