<div class="list" *ngIf="columns.length">
  <div class="col" *ngFor="let column of columns">
    <div class="item" *ngFor="let item of column">
      <div class="label">{{item.label}}</div>
      <div class="value">{{item.value}}</div>
    </div>
  </div>
</div>
